<body>
    <div th:fragment="frame_top_menu"  class="main-area">
        <header class="header">
            <div class="container">
                <div class="logo" onclick="location.href='/main';" style="cursor: pointer;">
                    <span class="hidden"></span>
                </div>

                <nav id="utilMenu" class="main-util-menu">
                    <ul>
                        <li>
                            <!-- 알림(종) 아이콘 버튼 -->
                            <button type="button" class="btn btn--l icon-btn menu-btn" id="alertMenuBtn">
                                <span class="badge" id="alertBadge"></span>
                                <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#notification}"/></svg>
                            </button>
                            <!-- 알림 드롭다운 메뉴 -->
                            <ul class="dropdown-menu2" id="alertDropdownMenu">
                                <!-- 알림 내용이 동적으로 추가됨 -->
                            </ul>
                        </li>
                        <li>
                            <!-- 설정(톱니바퀴) 아이콘 버튼 -->
                            <button type="button" class="btn btn--l icon-btn menu-btn setting-btn" id="settingMenuBtn">
                                <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#setting}"/></svg>
                            </button>
                            <!-- 설정(톱니바퀴) 드롭다운 메뉴 추가 -->
                            <ul class="dropdown-menu" id="settingDropdownMenu">
                                <li id="resetPassword"><a href="#" id="resetPasswordBtn" class="button">비밀번호 초기화</a></li>
                                <li id="logout">
                                    <a href="#" onclick="if(confirm('로그아웃 하시겠습니까?')) window.location.href='/logout'; else alert('취소하였습니다.'); return false;">로그아웃</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--스피너-->
            <div id="loadingSpinner" class="loading" style="display: none;">
                <div class="spinner"></div>
            </div>
            <!--//스피너-->
        </header>


</body>
