<body>
    <div th:fragment="frame_left_menu" id="sidebar" class="main-sidebar main-sidebar--expand">
        <div style="padding-top: 70px;"></div>
        <div class="profile">
            <div class="profile__img profile__img--48">
                <a href="#">
                    <img th:src="@{/assets/images/temp/profile.png}" alt="">
                </a>
            </div>
            <div class="profile__info">
                <p class="name">
                    <span class="text-body3 text-ellipsis" th:text="${user.userName}"></span>
                </p>
                <p class="team">
                    <span class="text-caption1" th:text="${user.companyName}"></span>
                </p>
            </div>
        </div>
        <nav class="main-lnb">
            <ul>
                <ul>
                    <li>
                        <a href="ticketList" class="menu-item">
                                <span class="menu-icon">
                                    <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#mail}"/></svg>
                                </span>
                            <p class="menu-title">
                                <span class="menu-title__text">요청관리</span>
                                <span class="menu-title__num"></span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="mailHistory" class="menu-item">
                                <span class="menu-icon">
                                    <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#mail}"/></svg>
                                </span>
                            <p class="menu-title">
                                <span class="menu-title__text">발송내역</span>
                                <span class="menu-title__num"></span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="systemBoardList" class="menu-item">
                                <span class="menu-icon">
                                    <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#mail}"/></svg>
                                </span>
                            <p class="menu-title">
                                <span class="menu-title__text">시스템 정보</span>
                                <span class="menu-title__num"></span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="noticeBoardList" class="menu-item">
                                <span class="menu-icon">
                                    <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#mail}"/></svg>
                                </span>
                            <p class="menu-title">
                                <span class="menu-title__text">공지사항</span>
                                <span class="menu-title__num"></span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="opReportList" class="menu-item">
                                <span class="menu-icon">
                                    <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#mail}"/></svg>
                                </span>
                            <p class="menu-title">
                                <span class="menu-title__text">운영지원보고서</span>
                                <span class="menu-title__num"></span>
                            </p>
                        </a>
                    </li>
                </ul>
            </ul>
        </nav>
        <div class="quickmenu">
            <button type="button" class="btn btn--l primary-btn quick-btn"  th:onclick="'window.location.href=\'' + @{/ticketCreate} + '\''">
                <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#pencil}"/></svg>
                <span>빠른 작성</span>
            </button>
        </div>
    </div>
</body>