@charset 'utf-8';

@font-face {
  font-family: 'Noto Sans KR L';
  font-style: normal;
  font-weight: 300;
  src: url(../font/NotoSans-Light.woff2) format('woff2'),
       url(../font/NotoSans-Light.woff) format('woff'),
       url(../font/NotoSans-Light.eot) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR D';
   font-style: normal;
   font-weight: 350;
   src: url(../font/NotoSans-DemiLight.woff2) format('woff2'),
        url(../font/NotoSans-DemiLight.woff) format('woff'),
        url(../font/NotoSans-DemiLight.eot) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(../font/NotoSans-Regular.woff2) format('woff2'),
        url(../font/NotoSans-Regular.woff) format('woff'),
        url(../font/NotoSans-Regular.eot) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR M';
   font-style: normal;
   font-weight: 500;
   src: url(../font/NotoSans-Medium.woff2) format('woff2'),
        url(../font/NotoSans-Medium.woff) format('woff'),
        url(../font/NotoSans-Medium.eot) format('opentype');
 }