.wrapper {
    display: flex;
    min-width: 144rem;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

/* 사이드바 */
.main-sidebar {
    position: relative;
    flex: 0 0 24rem;
    max-width: 24rem;
    min-width: 7.2rem;
    height: 100%;
    padding-top: 1.6rem;
    border-right: 1px solid var(--gray-400);
    box-sizing: border-box;
    z-index: 10;
}

.main-sidebar--compact {
    flex: 0 0 7.2rem;
}

.main-sidebar .logo {
    margin: 0 2.4rem 3.2rem;
}


.main-sidebar .profile {
    margin: 0 2.4rem;
}

.main-sidebar .profile .profile__info .team {
    margin-top: 0.4rem;
    color: var(--gray-700);
}

.main-sidebar .menu__btn {
    margin: 0 1.2rem 4rem;
}

.main-sidebar .quickmenu {
    position: absolute;
    bottom: 5.6rem;
    width: 100%;
    padding: 0 1.6rem;
}
.main-sidebar .quickmenu:before {
    position: absolute;
    left: 0;
    top: -7.2rem;
    display: block;
    width: 100%;
    height: 7.2rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 57.64%);
    content: '';
}

.main-sidebar--compact .quickmenu {
    padding: 0 1.2rem;
}

.main-sidebar--expand .quickmenu .quick-btn {
    width: 100%;
    padding: 0 1.6rem 0 0.8rem;
}

.main-sidebar--compact .profile .profile__info {
    display: none;
}

/* LNB */
.main-lnb {
    height: calc(100vh - 36rem);
    margin: 2.4rem 0 0;
    padding-bottom: 7.2rem;
    overflow-y: auto;
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */
}

.main-lnb::-webkit-scrollbar {
    display: none;
    /* 크롬, 사파리, 오페라, 엣지 */
}

.main-lnb>ul+ul:before {
    display: block;
    margin: 1.6rem;
    border-top: 1px solid var(--gray-400);
    content: '';
}

.main-lnb > ul > li > ul .menu-item {
    height: 3.6rem;
    padding-left: 6rem;
}
.main-lnb > ul > li > ul .menu-item.active,
.main-lnb > ul > li > ul .menu-item:hover,
.main-lnb > ul > li > ul .menu-item:focus-visible {
    background-color: transparent;
}
.main-lnb > ul > li > ul .menu-item.active .menu-title,
.main-lnb > ul > li > ul .menu-item:hover .menu-title,
.main-lnb > ul > li > ul .menu-item:focus-visible .menu-title {
    background-color: transparent;
    font-weight: 500;
}

.main-sidebar--compact .main-lnb {
    padding: 0 1.2rem 7.2rem;
}

.main-sidebar--compact .menu-title {
    display: none;
}

.main-sidebar--compact .menu-title .menu-title__num {
    display: none;
}

.main-sidebar--compact .menu-item {
    padding: 0;
    border-radius: 0.8rem;
}

.main-sidebar--compact .main-lnb>ul+ul:before {
    margin: 1.6rem 0;
}

/* 서브 사이드바(new) */
.sub-sidebar {
    position: absolute;
    flex: 0 0 24rem;
    width: 24rem;
    height: calc(100% - 7.2rem);
    padding: 2.8rem 0 0;
    border-right: 1px solid var(--gray-400);
    z-index: 10;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.sub-sidebar .sidebar-title {
    padding: 0 1.6rem;
}
.sub-sidebar .sidebar-title .sidebar__btn {
    margin-top : 1.6rem;
}

/* 서브 LNB */
.sub-lnb {
    height: calc(100% - 12rem);
    overflow-y: auto;
    margin-top: 2.4rem;
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */
    box-sizing: border-box;
}
.sub-lnb::-webkit-scrollbar {
    display: none;
    /* 크롬, 사파리, 오페라, 엣지 */
}
.tree-item {
    cursor: pointer;
}
.tree-item .tree-item-title {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    height: 3.2rem;
    padding: 0.4rem 1.6rem;
    padding-left: 3.2rem;
    color: var(--gray-900);
    transition: .2s ease;
    overflow: hidden;
}
.tree-item .tree-item-title:hover {
    background-color: var(--primary-navy-20);
}

.tree-item .tree-item-title > a {
    margin-right: 0.4rem;
    line-height: 1.7em;
    font-size: 1.4rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tree-item .tree-item-title .tree-arrow-btn {
    margin-left: -1.6rem;
}

.tree-item-title .item-add {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}
.tree-item-title .num {
    margin-right: 0.4rem;
    color: var(--primary-navy-500);
    line-height: 1.3em;
    font-weight: 700;
    font-size: 1.4rem;
}
.tree-item-title .item-add > .btn {
    margin-left: 0.4rem;
}
.tree-item-title .item-add > .hide-btn { display: none;}
.tree-item-title:hover .item-add > .hide-btn { display: block; }

.tree-item > [class ^= "tree-list--sub"] {
    /* 기본적으로는 숨겨진 상태 */
    display: none;
}
.tree-item.active > [class ^= "tree-list--sub"] {
    /* 열린 상태일 때 하위 목록 표시 */
    display: block;
}


/* sub lnb arrow 버튼 */
.tree-arrow-btn {
    width: 1.2rem;
    height: 2rem;
    background: url('../images/icon/icon-arrow_up__tree.svg') no-repeat;
    transition: .2s ease;
}
.tree-arrow-btn.tree--open {
    transform: rotate(180deg);
}

/* sub lnb 설정 버튼 */
.sub-lnb-tree .setting-btn {
    color: var(--gray-600);
}
.sub-lnb-tree .setting-btn:hover {
    color: var(--gray-900);
}

/* 트리 구분선 */
.lnb-line {
    margin: 0.8rem 0;
    padding: 0 1.6rem;
}
.lnb-line:after {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--gray-400);
    content: '';
}

/* lnb 사이즈 */
.tree-list--l .tree-item .tree-item-title {
    height: 4rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.tree-list--s .tree-item .tree-item-title {
    height: 2.8rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

/* lnb 스크롤 영역 */
.lnb-scroll-wrap {
    max-height: 34rem;
    overflow-y: scroll;
}


.logo {
    width: 11.2rem;
    height: 4rem;
    background: url('../images/common/logo.png') no-repeat;
}

/* 헤더 */
.main-area {
    flex: 1;
    overflow: hidden;
    height: 100%;
}

.header {
    height: 7.2rem;
    border-bottom: 1px solid var(--gray-400);
    box-sizing: border-box;
    z-index: 10;
}

.header>.container {
    position: relative;
    display: flex;
    gap: 0.4rem;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0 2.4rem;
}

.header .logo {
    position: absolute;
    left: 2.4rem;
}

.header .search-wrap {
    min-width: 48rem;
}

.main-util-menu > ul {
    display: flex;
    gap: 0.4rem;
}

/* 메인 */
.main-content {
    height: calc(100%);
    padding: 0 3.6rem;
    overflow-y: auto;
}
.form-content {
    height: calc(100% - 7.2rem);
    padding: 0 3.6rem;
    overflow-y: auto;
}
.list-content {
    height: calc(100% - 7.5rem);
    padding: 3.6rem 3.6rem;
    overflow-y: auto;
}
/* 서브 */
.sub-content {
    display: flex;
    height: calc(100% - 7.2rem);
    overflow-y: auto;
    overflow-x: hidden;
}

.sub-content > .sub-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    /* padding: 2.8rem 3.6rem 0 27.6rem; */
    padding: 2.8rem 3.6rem 10rem 27.6rem;
    margin-bottom: auto;
}
/* .sub-container:after {
    flex: 0 0 100px;
    display: block;
    content: '';
    width: 100%;
} */

/* 레이어 팝업 영역 */
.layer-wrap {
    display: none;
    position: fixed;
    width: 100%;
    /* max-width: 144rem; */
    height: 100%;
    z-index: 100;
}

.dimmed:before {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
}

/* 퀵메뉴 */
.action__list {
    /*display: none;*/
    position: absolute;
    min-width: 20rem;
    padding: 0.8rem 0;
    border-radius: 0.8rem;
    border: 1px solid var(--gray-300);
    background-color: var(--white);
    box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, .06), 0 1rem 2rem 0 rgba(0, 0, 0, .08);
}

.action__list[data-layout="compact"] {
    left: 8rem;
}

.action__list[data-layout="expand"] {
    left: 24.8rem;
}

.action__list[data-layout="setting"] {
    top: 21rem;
    left: 0.8rem;
}

.action__list[data-layout="setting"] .menu-item {
    padding-left: 1.6rem;
}

.action__list .menu-title {
    font-weight: 400;
}


.action__list[data-layout="sub_lnb"] {
    /* 임시 위치 */
    /* 가능하면 버튼 아래로 0.8rem, 왼쪽으로 -0.4rem 들어가게 위치시켜 주세요 */
    top: 24.8rem;
    left: 43rem;
}

/* 서브 퀵메뉴 */
.sub-action__list {
    min-width: 18rem;
}

.sub-action__list .menu-item {
    padding: 0 1.6rem;
    height: 4rem;
}

.sub-action__list .menu-item.active,
.sub-action__list .menu-item:hover,
.sub-action__list .menu-item:focus-visible {
    background-color: var(--gray-50);
    color: var(--gray-900);
}

.sub-action__list .menu-item.active .menu-title,
.sub-action__list .menu-item:hover .menu-title,
.sub-action__list .menu-item:focus-visible .menu-title {
    font-weight: 400;
}

.sub-action__list .menu-item.disabled {
    background-color: transparent;
    color: var(--gray-600);
    cursor: default;
}

.alarm-wrap {
    /*display: none;*/
    position: absolute;
    top: 16rem;
    left: 25rem;
    width: 50rem;
    height: 48rem;
    overflow: hidden;
}

.alarm__text-wrap {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--gray-800);
}

.alarm__text-wrap > .tag {
   /* flex: 1 0 6.2rem;*/
}
.alarm__text-wrap > .alarm__text {
    line-height: 1.7;
    font-size: 1.4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.alarm-content .alarm-list {
    height: 37.2rem;
    overflow-y: auto;
}

.alarm--item {
    position: relative;
    cursor: pointer;
    transition: .2s ease;
}

.alarm--item:hover {
    background-color: var(--primary-navy-50);
}

.alarm--item .close-btn {
    position: absolute;
    top: 0.8rem;
    right: 2.4rem;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    color: var(--gray-700);
}

.alarm--item .profile {
    gap: 0.8rem;
    padding: 1.2rem;
}

.alarm--item .badge {
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
}

.alarm--item .alarm__user-info {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.alarm--item .alarm__user-info .name {
    color: var(--gray-900);
    line-height: 1.7em;
    font-weight: 700;
    font-size: 1.4rem;
}

.alarm--item .alarm__user-info .name+.date {
    color: var(--gray-600);
    line-height: 1.3em;
    font-size: 1.2rem;
}

.alarm__text {
    color: var(--gray-800);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}