

/* 메일 사용량 */
.sub-sidebar:after {
    bottom: 10.4rem;
}
.sub-lnb {
    height: calc(100vh - 34rem);
}
.sub-sidebar .total-usage {
    position: absolute;
    bottom: 5.6rem;
    width: 100%;
    padding: 0 1.6rem;
}
.sub-sidebar .total-usage label {
    display: inline-block;
    margin-bottom: 0.8rem;
    color: var(--gary-800);
    line-height: 1.3em;
    font-size: 1.2rem;
}
.sub-sidebar .total-usage label span {
    margin-left: 0.4rem;
}
.gauge {
    width: 100%;
    height: 1rem;
}
.gauge::-webkit-meter-bar {
    width: 100%;
    height: 1rem;
    background-color: var(--gray-300);
    border: 0;
}
.gauge::-webkit-meter-optimum-value {
    background-color: var(--primary-navy-500);
}

/* 메일 한정 */
.mail-sender {
    width: 11.6rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mail-volume {
    width: 10rem;
}
.mail-is_read {
    width: 10rem;
}
.mail-is_read > .btn {
    margin: 0 auto;
}

/* 메일 읽기 */
.mail-view-header {
    padding: 1.2rem 0;
    border-bottom: 1px solid var(--gray-400);
}
.mail-option {
    position: relative;
    padding: 1.2rem 0 0 3.2rem;
}
.mail-option:not(:last-child) {
    padding-bottom: 1.2rem;
    border-bottom: 1px solid var(--gray-400);

}
.mail-option > .fold-btn {
    position: absolute;
    top: 1rem;
    left: 0;
}
.mail-option .option__title {
    min-width: 6.4rem;
}
.mail-view-content {
    min-height: 30rem;
    padding: 2.4rem 3.2rem;
    line-height: 1.4em;
    font-size: 1.4rem;
}

/* 메일 쓰기 */
.mail-write-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
}

.mail-util__text {
    color: var(--gray-700, #6B6B6B);
    line-height: 1.7em;
    text-align: right;
    font-weight: 500;
    font-size: 1.4rem;
}