/* 이미지 미리보기 처리 */
.addedImgView{padding-bottom:0px}.gGallery{margin-top:20px;position:relative}.gGallery li{cursor:pointer}.gGallery li img{width:100%;height:auto;display:none}.gGallery.gt_0{max-width:600px;overflow:hidden;height:100%}.gGallery.gt_0 li{width:100px;height:100px;display:inline-block;background-size:cover;background-position:center center;float:left;margin-top:2px;margin-right:2px}.gGallery.gt_1{width:100%}.gGallery.gt_1 li{background:none;cursor:default;background:#fff;border:1px solid #e5e5e5;max-height:400px;overflow:hidden;display:inline-block}.gGallery.gt_1 li img{width:auto;max-width:456px;height:auto;display:block;cursor:pointer;margin:0 auto}.gGallery.gt_2{width:402px;height:400px;padding:2px;border:1px solid #e5e5e5}.gGallery.gt_2 li{position:absolute;background-size:cover;background-position:center center}.gGallery.gt_2 .gsn_1{top:1px;left:1px;width:200px;height:402px}.gGallery.gt_2 .gsn_2{top:1px;left:203px;width:199px;height:402px}.gGallery.gt_3{width:400px;height:398px;padding:2px;border:1px solid #e5e5e5}.gGallery.gt_3 li{position:absolute;background-size:cover;background-position:center center}.gGallery.gt_3 .gsn_1{top:1px;left:1px;width:200px;height:400px}.gGallery.gt_3 .gsn_2{top:1px;left:203px;width:200px;height:198px}.gGallery.gt_3 .gsn_3{top:201px;left:203px;width:200px;height:200px}.gGallery.gt_4{width:402px;height:400px;padding:2px;border:1px solid #e5e5e5}.gGallery.gt_4 li{position:absolute;background-size:cover;background-position:center center}.gGallery.gt_4 .gsn_1{top:1px;left:1px;width:404px;height:200px}.gGallery.gt_4 .gsn_2{top:203px;left:1px;width:133.33333333px;height:200px}.gGallery.gt_4 .gsn_3{top:203px;left:136px;width:134px;height:200px}.gGallery.gt_4 .gsn_4{top:203px;left:272px;width:133.33333333px;height:200px}.gGallery.gt_5{width:404px;height:400px;padding:2px;border:1px solid #ccc}.gGallery.gt_5 li{position:absolute;background-size:cover;background-position:center center}.gGallery.gt_5 .gsn_1{top:1px;left:1px;width:406px;height:300px}.gGallery.gt_5 .gsn_2{top:303px;left:1px;width:100px;height:100px}.gGallery.gt_5 .gsn_3{top:303px;left:103px;width:100px;height:100px}.gGallery.gt_5 .gsn_4{top:303px;left:205px;width:100px;height:100px}.gGallery.gt_5 .gsn_5{top:303px;left:307px;width:100px;height:100px}
.gGallery.gtMini_1{width:50%}.gGallery.gtMini_1 li{background:none;cursor:default;background:#fff;border:1px solid #e5e5e5;max-height:200px;overflow:hidden;display:inline-block}.gGallery.gtMini_1 li img{width:auto;max-width:256px;height:auto;display:block;cursor:pointer;margin:0 auto}.gGallery.gtMini_2{width:201px;height:200px;padding:2px;border:1px solid #e5e5e5}.gGallery.gtMini_2 li{position:absolute;background-size:cover;background-position:center center}.gGallery.gtMini_2 .gsn_1{top:1px;left:1px;width:100px;height:201px}.gGallery.gtMini_2 .gsn_2{top:1px;left:103px;width:100px;height:201px}
.gGallery.gtMini_3{width:201px;height:201px;padding:2px;border:1px solid #e5e5e5}.gGallery.gtMini_3 li{position:absolute;background-size:cover;background-position:center center}.gGallery.gtMini_3 .gsn_1{top:1px;left:1px;width:100px;height:100px}.gGallery.gtMini_3 .gsn_2{top:1px;left:103px;width:100px;height:100px}.gGallery.gtMini_3 .gsn_3{top:103px;left:1px;width:201px;height:100px}
.gGallery.gtMini_4{width:201px;height:201px;padding:2px;border:1px solid #e5e5e5}.gGallery.gtMini_4 li{position:absolute;background-size:cover;background-position:center center}.gGallery.gtMini_4 .gsn_1{top:1px;left:1px;width:100px;height:100px}.gGallery.gtMini_4 .gsn_2{top:1px;left:103px;width:100px;height:100px}.gGallery.gtMini_4 .gsn_3{top:103px;left:1x;width:100px;height:100px}.gGallery.gtMini_4 .gsn_4{top:103px;left:101px;width:100px;height:100px}
.gGallery.gtMini_5{width:304px;height:201px;padding:2px;border:1px solid #ccc}.gGallery.gtMini_5 li{position:absolute;background-size:cover;background-position:center center}.gGallery.gtMini_5 .gsn_1{top:1px;left:1px;width:150px;height:100px}.gGallery.gtMini_5 .gsn_2{top:1px;left:153px;width:150px;height:100px}.gGallery.gtMini_5 .gsn_3{top:103px;left:1px;width:100px;height:100px}.gGallery.gtMini_5 .gsn_4{top:103px;left:104px;width:100px;height:100px}.gGallery.gtMini_5 .gsn_5{top:103px;left:207px;width:100px;height:100px}

.litebox {width:100%;height:100%;}
.detail_gallery {height:160%;}
/*
.detail_gallery_2 {width:231px;height:307px;}
.detail_gallery_3 {width:154px;height:153px;}
.detail_gallery_4 {width:154px;height:153px;}
.detail_gallery_5 {width:154px;height:153px;}
*/

/* common.css에 있는 내용임. 상세화면 상단 우측버튼 */
.btn_like03 {display:inline-block;width:20px;height:18px;vertical-align:top;background:url(../images/common/ico_sprite.png) -400px -550px no-repeat;} /* 좋아요버튼 */
.btn_reply02 {display:inline-block;width:20px;height:18px;vertical-align:top;background:url(../images/common/ico_sprite.png) -450px -550px no-repeat;} /* 댓글버튼 */
.btn_interest02 {display:inline-block;width:20px;height:22px;background:url(../images/common/ico_sprite.png) -500px -550px no-repeat;} /* 관심등록버튼 */
.btn_admin {display:inline-block;width:20px;height:18px;vertical-align:top;background:url(../images/common/ico_sprite.png) -550px -550px no-repeat;} /* 게시글관리 버튼 */
.btn_like03.active {display:inline-block;width:20px;height:18px;vertical-align:top;background:url(../images/common/ico_sprite.png) -400px -600px no-repeat;}
.btn_reply02.active {display:inline-block;width:20px;height:18px;vertical-align:top;background:url(../images/common/ico_sprite.png) -450px -600px no-repeat;}
.btn_interest02.active {display:inline-block;width:20px;height: 22px;background:url(../images/common/ico_sprite.png) -500px -600px no-repeat;}
.btn_admin.active {display:inline-block;width:20px;height:18px;vertical-align:top;background:url(../images/common/ico_sprite.png) -550px -600px no-repeat;}

.display_state:before {background-position:-250px -50px;}

/* 설문작성 옵션추가 */
.survey_option .btn_add {display:inline-block;margin-left:39px;height:20px;color:#b7b7b7;font-family: 'Noto Sans KR L';}
.survey_option .btn_add span {display:inline-block;margin-right:7px;width:20px;height:20px;vertical-align:middle;background:url(../images/common/ico_sprite.png) -650px -52px no-repeat;}
/* 글작성화면 태그삭제 버튼 */
.btn_delete_tag {display:inline-block;margin:9px  0 0 13px;width:6px;height:6px;vertical-align:top;background:url(../images/common/ico_sprite.png) -550px -100px no-repeat;}
/* 글작성화면 게시글 상태선택 버튼 */
.btn_bbsset {display: inline-block;
    margin-right: 6px;
    width: 35px;
    height: 20px;
    text-align: center;
    vertical-align: middle;border:1px solid #d7dae1;
    border-radius: 3px;background-color:#fdfefd;}
.btn_bbsset span {color:#bfbfbf;
    font-size: 12px;line-height: 18px;
    font-family: 'Noto Sans KR D';}
.btn_bbsset.active {border:none;}
.btn_bbsset.active span {color:#FFF;}
/* 게시글 상태 설정 */
.bbs_setting {width:158px;}
.bbs_setting .pop_tit {position:relative;padding:0;height:34px;background-color:#4890d2;}
.bbs_setting .pop_tit span {display:inline-block;margin-left:19px;height:34px;color:#FFF;font-size:14px;font-family: 'Noto Sans KR D';line-height:34px;}
.bbs_setting .pop_con {overflow:hidden;padding:9px 0 12px 17px;}
.bbs_setting .pop_con .btn_list {height:159px;}

.btn_text02 {display:block;width:100%;text-align:left;}
.btn_text02 span {display:inline-block;padding:12px 0;color:#8c8e9a;font-size:14px;}


.user_img img,
.organization_img img,
.community_img img {width:100%; height:100%; border:1px solid #d4d8e1;border-radius:50%;box-sizing:border-box;}

.wrap_posting .reply_area .wrap_reply .user_img {position:absolute;top:25px;left:27px; width: 50px; height: 50px;}

/* 여백 줄임 */
.wrap_posting .contents .content {
	margin-bottom : 12px;
	cursor : pointer;
}



.reply_area.slide .wrap_reply .contents .down a {
	margin-top : 5px;
	margin-left : 5px;
}

.type_share .share_content {
	margin-bottom : 22px;
}
.type_schedule .schedule_content {
	margin-bottom : 22px;
}



.btn_cancel {
	display: inline-block;
    width: 19px;
    height: 15px;
    background: url(/static/images/common/ico_sprite.png) -450px -350px no-repeat;;
}

/* 수정할때 슬라이드 */
.edit_slide_area {display:none;overflow:hidden;position:fixed;top:68px;left:50%;margin-left:-600px;width:1200px;z-index:220}

.edit_dimm {display:none;position:fixed;top:0;left:0;bottom:0;right:0;opacity:0;background-color:#000;z-index:219}

/* 공유할때 등록위치가 안보여서 변경해줌  */
.lay_pop {
	z-index : 221;
}

.btn_top {
	z-index : 100;
	left : 24%;
	background-color : #e1e1e2;
}
.min_wid .btn_top {
	display : none;
}


header .wrap_inform button span.new {
	right : -6px;
	top : -6px;
	width : auto;
	height : auto;
	border : 1px solid #e96d68;
	background-color : #e96d68;
	vertical-align : middle;
	padding : 3px;
	color : #FFFFFF;
}

.wrap_event.infolist .con_area .btn_delete02 {
	height : 19px;
}

.wrap_posting .reply_area .wrap_reply .user_img {
	width: 40px;
    height: 40px;
    top: 17px;
}
.reply_area.slide .wrap_reply .user_img {
	width: 40px;
    height: 40px;
}
/** 타임라인 박스 처리 */
.wrap_timeline .wrap_day {
	background: #f6f7fb;
}
.wrap_posting {
	border: 1px solid #eeeeef;
    margin-top: 10px;
    background: #FFFFFF;

}
.contents_timeline .wrap_posting:first-child {
    margin-top: 0px;
}
.wrap_reply {
	padding-top: 8px;
	padding-bottom: 8px;
    border-top: 1px solid #f3f3f3;
}
.wrap_btn.extend {
	top: -28px;
	font-size : 12px;
}

.wrap_btn.extend span {
	color : #b9b7b7;
	padding-left : 5px;
	cursor : pointer;
}

.wrap_btn.extend span.on {
	color : #949090;
	font-weight : bold;
	cursor : default;
}
.wrap_btn.extend span.seperate {
	border-right: 1px solid #959595;
	height: 12px;
	display: inline-block;
	line-height: 11px;
}

.contents_area .search_area {
	height : 65px;
	border : 1px solid #eeeeef;
	border-bottom : 0px;
}
.wrap_posting .contents .title {
	font-size : 14px;
	height : auto;
	cursor : pointer;
	margin-bottom : 7px;
}

.wrap_posting .contents .title .sp_title {
	margin-top: -20px;
	margin-left: 70px;
	min-height: 20px;
	text-overflow: ellipsis;
    overflow: hidden;
}

.detailview_area .wrap_content .title {
	font-size : 14px;
	height: auto;
	margin-bottom : 7px;
}
.detailview_area .wrap_content .title .tag {
	display: inline-block;
    margin-right: 9px;
    width: 35px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    font-family: 'Noto Sans KR L';
    vertical-align: top;
    border-radius: 3px;
}

.detailview_area .wrap_content .title .sp_title {
	margin-top: -20px;
	margin-left: 70px;
	min-height: 20px;
}

.wrap_posting .other .location {
	text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    width: 33%;
    margin-right: 9px;

}

.wrap_posting .other .location span {
	font-size : 14px;
}
.detailview_area .writer_info .location span {
	font-size : 14px;
}

.detailview_area .wrap_content .content {
	font-size : 13px;
	color : #666;
	word-wrap: break-word;
}
.wrap_posting .contents .content {
	color : #666;
	word-wrap: break-word;
}

.menu_area  .menu_scr .depth_thr a {
	font-size : 13px;
}


/*     레프트 메뉴    */
.menu_area  .menu_scr ul.ul_community li a {
    display: table;
    padding-left: 30px;
    min-height: 12px;
    color: #66697a;
    line-height: 17px;
    font-size: 13px;
    padding-bottom: 7px;
}
.menu_area .menu_scr ul.ul_community li img {
	display: table-cell;
    margin: 0px 7px 0 0;
    width: 17px;
    vertical-align: top;
}
.menu_area .menu_scr ul.ul_community li span {
    display: table-cell;
    color: #66697a;
    vertical-align: top;
}
.menu_area  .menu_scr .my_org {background:url(../images/common/ico_sprite.png) -600px -1350px no-repeat} /* 나의 조직 */
.menu_area  .menu_scr .my_org.on { /* background:url(../images/common/ico_sprite.png) -800px -1350px no-repeat */
	background-position: -800px -1350px;
} /* 나의 조직 on*/
.menu_area  .menu_scr .my_community {background:url(../images/common/ico_sprite.png) -600px -1400px no-repeat} /* 나의 커뮤니티 */
.menu_area  .menu_scr .my_community.on { /* background:url(../images/common/ico_sprite.png) -800px -1400px no-repeat */
	background-position: -800px -1400px;
} /* 나의 커뮤니티 on*/

.menu_area .menu_scr ul.ul_community li a.on span {color:#4890d2}

/*  댓글 관련 */
.div_reply_write {
	/*
	position: fixed;
	bottom: 10px;
	*/
}

/** 할일 관련 **/
.wrap_todolist .todo_list li p {
	display: inline-block;
    float: right;
}
/** 레프트 커뮤니티 **/
.menu_area .menu_community {
	height: 230px;
	background : #FFFFFF;
}
.menu_area .menu_community img {
	width : 100%;
	height : 140px;
}
.menu_area .menu_community .community_name{
	text-align: center;
    padding: 5px 10px 5px 10px;
    border-top : 5px solid #525a62;
    line-height: 1.4;
    width: 222px;
    height: 46px;
}
.menu_area .menu_community .community_name span{
    color: #4890d2;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    max-height: 42px;
    font-size: 17px;
    text-overflow: ellipsis;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.menu_area .menu_community .info{
	text-align: center;
}
.menu_area .menu_community .info .community_info {
	background : url(../images/icon/ico_community_info.png) no-repeat ;
	width: 22px;
    height: 22px;
    margin-right: 10px;
}
.menu_area .menu_community .info .community_members {
	background : url(../images/icon/ico_community_member.png) no-repeat ;
	width: 22px;
    height: 22px;
    margin-right: 10px;
}
.menu_area .menu_community .info .community_favorite {
	background : url(../images/icon/ico_community_star_off.png) no-repeat ;
	width: 22px;
    height: 22px;
    margin-right: 10px;
}
.menu_area .menu_community .info .community_favorite.active {
	background : url(../images/icon/ico_community_star_on.png) no-repeat ;
	width: 22px;
    height: 22px;
    margin-right: 10px;
}

.menu_area .src_community {
	top: 240px;
}


.menu_area .userinfo .user_info {
	line-height: 18px;
	width : 127px;
}



.widget_box {
	border-radius: 2%;
}
.wrap_header {
	background-color: #007edf;
}
.menu_area .userinfo {
	background-color: #e4e9f7;
}
body {
	background: #bac3da !important;
	overflow-y: scroll !important;
}
.wrap_contents {
	background-color: #f8f8f9;
}
.wrap_contents .menu_area {
	background-color: #f8f8f9;
}


.schedule_empty {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    color: #666;
}

.menu_knowledge button.user_num {
	right : 10px;
}
/*
.detailview_area .writer_info .location div {
	text-align: right;
    margin-right: 25px;
}
*/

.reply_area.slide .other {
	margin-bottom : 9px;
}

.community_box .input_community .content {
	width : 300px;
}

.reply_area {
	padding-bottom : 0px;

}




/** 등록위치 **/
#spFindObject {
	cursor : pointer;
}

/* file input 숨기기 */
.file_input_hidden {
	width: 35px !important;
	height: 35px;
	opacity: 0;
	overflow : hidden;
 	filter: alpha(opacity=0);
 	-ms-filter: "alpha(opacity=0)";
 	-khtml-opacity: 0;
 	-moz-opacity: 0;
}



/*
.user_img img {display:block;width:100%; height:100%;}
*/


/* 설문 선택 색상 */
.survey_select_color {
	background-color : #D5DCEA;
}

/* 커뮤니티 개설(운영자 선택) */

.operator_div {
	display: inline;
    padding-left: 2px;
    padding-right: 2px;
}

.operator_user_name {
	display: inline-block;
    color: #707070;
    font-size: 13px;
    padding-right: 3px;
}
/* file input 숨기기 */
.community_image_input_hidden {
	cursor : pointer;
	position: relative;
    left: -69px;
	width: 62px !important;
	height: 30px;
	opacity: 0;
	overflow : hidden;
 	filter: alpha(opacity=0);
 	-ms-filter: "alpha(opacity=0)";
 	-khtml-opacity: 0;
 	-moz-opacity: 0;

}

.timeline_search_date_div {
    padding: 0 8px;
    color: #333;
    font-size: 1em;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    background-color: #FFF;
    height: 33px;
    box-sizing: border-box;
    padding-top : 8px;
    display: inline-block;
    width: 100px;
    text-align : center;
}
.timeline_search_date_div_disable {
    color: #b7bac3;
    border-color: #c3cce0;
    background-color: #f6f6f6;
}



/* 멘션관련 */
.mention_button {
	overflow: hidden;
    display: table;
	background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}
.mentions-input-box .lay_pop.mention ul li:hover,
.mentions-input-box .lay_pop.mention ul li.active {
    background-color: #f2f2f2;
}
.mentions-input-box .lay_pop.mention ul{
	max-height: 150px;
    overflow-x: hidden;
    overflow: hidden;
    overflow-y: auto;
}
.mentionText{
	font-size: 13px;
	font-weight: 700;
	color: #4890D2;
}
.mention_img {
    display: table-cell;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding-left:13px;
}
.mention_img img {
	width:100%;
	height: 100%;
	border:1px solid #d4d8e1;
	border-radius:50%;
	box-sizing:border-box;
}

/* 해시 태그 클래스 */
.hashTag{
	font-size: 13px;
	color : #3e7ab7;
}
/* 링크 */
.linkified {
	color: #28608f;
	font-size : 13px;
}

/* 커뮤니티 등록 관련 */
.li_system_image {
	cursor: pointer;
}
.choice_icon .pop_con .wrap_icon #ICON_ulSystemImageList li.active {
	background: #dbdee0;
}

.choice_cover .pop_con .wrap_icon li {
	height : 74px;
}
.community_cover_select {
	border: 2px solid #4890d2;
}
.community_cover_select img {
	width : 100%;
	height: 100%;
}

/* 알림카운트 */
header div.wrap_inform .notify_count {
	display: none;
	padding: 3px;
	border-radius: 50%;
	border: 1px solid #e96d68;
	border-image: none;
	top: -7px;
	width: auto;
	height: auto;
	text-align: center;
	right: 30px;
	color: #FFFFFF;
	vertical-align: middle;
	position: absolute;
	min-height: 15px;
	min-width: 15px;
	background-color: #e96d68;
}

/* 채팅 알림 카운트 */
header div.wrap_inform .chat_notify_count {
	display: none;
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #e96d68;
    border-image: none;
    top: -7px;
    width: auto;
    height: auto;
    text-align: center;
    right: 70px;
    color: #FFFFFF;
    vertical-align: middle;
    position: absolute;
    min-height: 15px;
    min-width: 15px;
    background-color: #e96d68;
}

/** 조직도 관련 **/
.pop_organization_chart {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    z-index: 130;
    box-shadow: none;
	transform: translate(-50%, -50%);
}

.pop_organization_chart .div_search {
	width: 91%;
	margin: 10px;
	text-align: right;
}
.pop_organization_chart .div_organization {
	margin: 10px;
}
.pop_organization_chart .div_organization .org_list {
	height: 420px;
	width:270px;
	display: inline-block;
	position : relative;
	vertical-align : top;
}

.pop_organization_chart .div_organization .person_list {
	height: 426px;
	width: 180px;
	border: 1px solid #d2d2d2;
	position: relative;
	display: inline-block;
}

.pop_organization_chart .div_organization .person_list ul li {

	margin : 10px;
}

.pop_organization_chart .div_organization .person_list ul li .wrap_user .user_img{
	width : 40px;
	height : 40px;
}

.pop_organization_chart .div_organization .person_list ul li .wrap_user .user_info {
	font-size : 14px;
	color : #666;
}


.pop_organization_chart .org_button {
	display: inline-block;
    height: 29px;
    text-align: center;
    border-radius: 5px;
    width: 50px;
}
.pop_organization_chart .org_button span {
	color : #FFFFFF;
}

header .wrap_inform button.oranization {
	margin-left: 21px;
    background: url(/static/images/icon/ico_organization.png)  no-repeat;
    background-size: 25px 24px;

}


/** 플라워 관련 **/
.pop_flower {
	display : block;
	position: absolute;
    width : 260px;
    height : 260px;
    top : 266px;
    left : 331px;
    z-index : 135;

}

.pop_flower .user_img img {
	height: 90px;
    width: 90px;
    border: 1px solid #d4d8e1;
    border-radius: 50%;
    box-sizing: border-box;

}

.pop_flower .user_img {
	position: absolute;
    top: 0;
    left: 0;
	height: 90px;
    width: 90px;
    margin-left: -20px;
    margin-top: -20px;
}
#imgFlower {
	cursor : pointer;
}



/** 고객센터 **/
.askBorad ul.list .div_complete {
	display: inline-block;
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 32px;
}

.question_info {
    display: block;
    width: 460px;
    height: 35px;
}
.question_info span {
    float: left;
    display: inline-block;
    margin-right: 5px;
    padding: 0 9px 0 10px;
    height: 25px;
    color: #4890d2;
    line-height: 25px;
    border-radius: 12px;
    background-color: #e9f2fa;
}
.question_complete_select_div {
	display: inline-block;
    background-color: #FFF;
    position: absolute;
    top: 42px;
    right: 10px;
}
.question_complete_select_div label {
	margin-left : 10px;
}



/* 회원보기 팝업 */
.pop_community_memebers {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 443px;
    z-index: 130;
    box-shadow: none;
	transform: translate(-50%, -50%);
}


/*나의 활동 색상처리 */
.menu_area  .menu_scr .depth_tow.on {
	color : #4890d2;
}