<div th:fragment="analyticsWeekFragment">
    <table class="table table03">
        <thead>
        <tr>
            <th rowspan="2">담당</th>
            <th rowspan="2">잔여</th>
            <th colspan="2" th:each="day : ${dayList}" th:text="${day}" name="day"></th>
            <th colspan="2">금주합계</th>
        </tr>
        <tr>
            <th>접수</th>
            <th>처리</th>
            <th>접수</th>
            <th>처리</th>
            <th>접수</th>
            <th>처리</th>
            <th>접수</th>
            <th>처리</th>
            <th>접수</th>
            <th>처리</th>
            <th>접수</th>
            <th>처리</th>
            <th>접수</th>
            <th>처리</th>
            <th>접수</th>
            <th>처리</th>
        </tr>
        </thead>
        <tbody>
        <tr name="sum">
            <td>합계</td>
            <td class="text-bold text-red" onclick="openTicketList()"></td>
            <td  onclick="openTicketList()"></td>
            <td  onclick="openTicketList()"></td>
            <td  onclick="openTicketList()"></td>
            <td  onclick="openTicketList()"></td>
            <td  onclick="openTicketList()"></td>
            <td  onclick="openTicketList()"></td>
            <td  onclick="openTicketList()"></td>
            <td  onclick="openTicketList()"></td>
            <td  onclick="openTicketList()"></td>
            <td  onclick="openTicketList()"></td>
            <td  onclick="openTicketList()"></td>
            <td  onclick="openTicketList()"></td>
            <td  onclick="openTicketList()"></td>
            <td  onclick="openTicketList()"></td>
            <td class="text-bold" onclick="openTicketList()"></td>
            <td class="text-bold" onclick="openTicketList()"></td>
        </tr>
        <tr th:each="receipt : ${weekReceiptList}" name="data">
            <td th:text="${receipt.userName}"></td>
            <td th:text="${receipt.leftover}" class="text-bold text-red"  onclick="openTicketList()"></td>
            <td th:text="${receipt.monReceipt}"  onclick="openTicketList()"></td>
            <td th:text="${receipt.monComplete}" onclick="openTicketList()"></td>
            <td th:text="${receipt.tueReceipt}"  onclick="openTicketList()"></td>
            <td th:text="${receipt.tueComplete}"  onclick="openTicketList()"></td>
            <td th:text="${receipt.wedReceipt}"  onclick="openTicketList()"></td>
            <td th:text="${receipt.wedComplete}"  onclick="openTicketList()"></td>
            <td th:text="${receipt.thuReceipt}"  onclick="openTicketList()"></td>
            <td th:text="${receipt.thuComplete}"  onclick="openTicketList()"></td>
            <td th:text="${receipt.friReceipt}"  onclick="openTicketList()"></td>
            <td th:text="${receipt.friComplete}"  onclick="openTicketList()"></td>
            <td th:text="${receipt.satReceipt}"  onclick="openTicketList()"></td>
            <td th:text="${receipt.satComplete}"  onclick="openTicketList()"></td>
            <td th:text="${receipt.sunReceipt}"  onclick="openTicketList()"></td>
            <td th:text="${receipt.sunComplete}"  onclick="openTicketList()"></td>
            <td class="text-bold" onclick="openTicketList()"></td>
            <td class="text-bold" onclick="openTicketList()"></td>
        </tr>
        </tbody>
    </table>
</div>