<!DOCTYPE html>
<html lang="en">
<head>
    <title>운영지원보고서</title>
</head>
<body>
    <div th:fragment="opReport" id ="mailHistListContainer">
        <h2 style="text-align: center">운영지원 보고서</h2>
        <div th:if="${opReport != null}">
            <!-- 프린트 버튼 -->
            <button onclick="printReport()" style="border: none; background: none; cursor: pointer;">
                <svg class="icon icon--20 color-gray700">
                    <use th:href="@{/assets/images/common/print.svg#print-icon}" />
                </svg>
            </button>
            <table class="table table03 table--h table--xs">
                <colgroup>
                    <col style="width: 18%;">
                    <col style="width: auto;">
                    <col style="width: 18%;">
                    <col style="width: auto;">
                </colgroup>
                <tbody>
                    <tr>
                        <th colspan="4" style="text-align: center">고객정보</th>
                    </tr>
                    <tr>
                        <th>고객사</th>
                        <td><span id="customerCompany" th:text="${opReport.customerCompany}"></span></td>
                        <th>담당자</th>
                        <td><span id="customerName" th:text="${opReport.customerUserName}"></span></td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <th colspan="4" style="text-align: center">지원사 정보</th>
                    </tr>
                    <tr>
                        <th>회사</th>
                        <td><span id="companyName" th:text="${opReport.supportCompany}"></span></td>
                        <th>담당자</th>
                        <td><span id="createName" th:text="${opReport.supportUserName}"></span></td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th colspan="4" style="text-align: center">상세내역</th>
                    </tr>
                    <tr>
                        <table class="table table04 table--h table--xss">
                            <colgroup>
                                <col style="width: 2%;">
                                <col style="width: 5%;">
                                <col style="width: 40%;">
                                <col style="width: 5%;">
                                <col style="width: 6%;">
                                <col style="width: 9%;">
                                <col style="width: 9%;">
                                <col style="width: 9%;">
                                <col style="width: 8%;">
                                <col style="width: 3%;">
                            </colgroup>
                            <tbody>
                            <div class="pagetotal" style="margin-top: -30px">
                                <span class="text-body4">전체 <strong class="color-navy500"  th:text="${opReportCnt}"></strong>건</span>
                            </div>
                                <tr>
                                    <th>no</th>
                                    <th style="text-align: center">상태</th>
                                    <th>제목</th>
                                    <th>구분</th>
                                    <th>담당자</th>
                                    <th>요청일</th>
                                    <th>희망일</th>
                                    <th>완료일</th>
                                    <th>지원범위</th>
                                    <th>MD</th>
                                </tr>
                                <!-- 데이터가 없을 때 -->
                                <tr th:if="${opReport.details == null or #lists.isEmpty(opReport.details)}">
                                    <td colspan="10" style="text-align: center;">데이터가 없습니다.</td>
                                </tr>
                                <!-- 데이터가 있을 때 -->
                                <tr th:each="items, iterStat : ${opReport.details}">
                                    <td style="text-align: center">
                                        <span th:text="${iterStat.index + 1}"></span>
                                    </td>
                                    <td style="text-align: center">
                                        <span th:switch="${items['STATUS_CD']}">
                                            <span th:case="'OPEN'" class="tag tag--red">등록</span>
                                            <span th:case="'RECEIPT'" class="tag tag--navy">접수</span>
                                            <span th:case="'PROGRESS'" class="tag tag--green">진행</span>
                                            <span th:case="'REVIEW'" class="tag tag--orange">검토</span>
                                            <span th:case="'CLOSED'" class="tag tag--gray">완료</span>
                                        </span>
                                    </td>
                                    <td><span th:text="${items['TITLE']}"></span></td>
                                    <td>
                                        <span th:switch="${items['REQUEST_TYPE_CD']}">
                                            <span th:case="'QA'">문의답변</span>
                                            <span th:case="'ERR'">오류수정</span>
                                            <span th:case="'ADD'">기능추가</span>
                                            <span th:case="'CH'">기능변경</span>
                                            <span th:case="'SP'">기술지원</span>
                                            <span th:case="'ETC'">기타</span>
                                        </span>
                                    </td>
                                    <td><span th:text="${items['MANAGER_NM']}"></span></td>
                                    <td><span th:text="${items['CREATE_DT']}"></span></td>
                                    <td><span th:text="${items['EXPECTED_COMPLETE_DT']}"></span></td>
                                    <td><span th:text="${items['COMPLETE_DT']}"></span></td>
                                    <td>
                                        <span th:switch="${items['SUPPORT_CD']}">
                                            <span th:case="'ST'">기본</span>
                                            <span th:case="'ADD'">추가</span>
                                        </span>
                                    </td>
                                    <td><span th:text="${items['MD']}"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>