<!DOCTYPE html>
<html lang="en">
<head>
    <title>운영지원보고서</title>
</head>
<body>
    <div th:fragment="opReport" id ="mailHistListContainer">
        <h2 style="text-align: center;margin-top: 10px;">운영지원 보고서</h2>
        <div th:if="${opReport != null}">
            <!-- 프린트 버튼 -->
            <button onclick="printReport()" style="border: none; background: none; cursor: pointer;">
                <svg class="icon icon--20 color-gray700">
                    <use th:href="@{/assets/images/common/print.svg#print-icon}" />
                </svg>
            </button>
            <table class="table table01 table-ellipsis">
                <colgroup>
                    <col style="width: 18%;">
                    <col style="width: 32%;">
                    <col style="width: 18%;">
                    <col style="width: 32%;">
                </colgroup>
                <tbody>
                    <tr>
                        <th colspan="4" style="text-align: center">고객정보</th>
                    </tr>
                    <tr>
                        <th>회사명</th>
                        <td><span id="customerCompany" th:text="${opReport.customerCompany}"></span></td>
                        <th>담당자(PM)</th>
                        <td><span id="customerName" th:text="${opReport.supportUserName}"></span></td>
                    </tr>
                    <tr>
                        <th>기술지원월</th>
                        <td><span id="supportPeriod" th:text="${opReport.supportPeriod}"></span></td>
                        <th>MD</th>
                        <td><span id="totalMd" th:text="${opReport.totalMd}"></span></td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <table class="table table01 table-ellipsis">
                            <colgroup>
                                <col style="width: 5%;">
                                <col style="width: 40%;">
                                <col style="width: 10%;">
                                <col style="width: 10%;">
                                <col style="width: 10%;">
                                <col style="width: 10%;">
                                <col style="width: 7%;">
                                <col style="width: 5%;">
                            </colgroup>
                            <tbody>

                            <div style="margin-bottom: 40px;text-align:center;"><span style="margin-bottom: 1rem;font-weight: 700;font-size: 2.0rem;">상세내역</span></div>
                            <div class="pagetotal" style="margin-top: -30px">
                                <span class="text-body4">전체 <strong class="color-navy500"  th:text="${opReportCnt}"></strong>건</span>
                            </div>
                                <tr>
                                    <th>No</th>
                                    <th>제목</th>
                                    <th>구분</th>
                                    <th>담당자</th>
                                    <th>요청일</th>
                                    <th>완료일</th>
                                    <th>범위</th>
                                    <th>MD</th>
                                </tr>
                                <!-- 데이터가 없을 때 -->
                                <tr th:if="${opReport.details == null or #lists.isEmpty(opReport.details)}">
                                    <td colspan="9" style="text-align: center;">데이터가 없습니다.</td>
                                </tr>
                                <!-- 데이터가 있을 때 -->
                                <tr th:each="items, iterStat : ${opReport.details}">
                                    <td style="text-align: center">
                                        <span th:text="${iterStat.index + 1}"></span>
                                    </td>
                                    <td style="text-align: left"><span th:text="${items['TITLE']}"></span></td>
                                    <td>
                                        <span th:switch="${items['REQUEST_TYPE_CD']}">
                                            <span th:case="'QA'">문의답변</span>
                                            <span th:case="'ERR'">오류수정</span>
                                            <span th:case="'ADD'">기능추가</span>
                                            <span th:case="'CH'">기능변경</span>
                                            <span th:case="'SP'">기술지원</span>
                                            <span th:case="'ETC'">기타</span>
                                        </span>
                                    </td>
                                    <td><span th:text="${items['MANAGER_NM']}"></span></td>
                                    <td><span th:text="${items['CREATE_DT']}"></span></td>
                                    <td><span th:text="${items['COMPLETE_DT']}"></span></td>
                                    <td>
                                        <span th:switch="${items['SUPPORT_CD']}">
                                            <span th:case="'ST'">기본</span>
                                            <span th:case="'ADD'">추가</span>
                                        </span>
                                    </td>
                                    <td><span th:text="${items['MD']}"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>