<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1, width=device-width">
    <title>씨</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/intro.css" />

    <script src="/lib/jquery/jquery-2.2.2.min.js"></script>

    <script>
        $(document).ready(function(){
            var menuCount = $(".intro-menu--list li").length;
            // 메뉴 갯수가 4개 이하이면 가운데 정렬, 5개 이상이면 왼쪽으로 정렬
            if(menuCount <= 4) { $(".intro-menu--list").css("justify-content", "center"); }
            else { $(".intro-menu--list").css("justify-content", "flex-start"); }
        });
    </script>
</head>
<body>
<div id="skipMenu">
    <a href="#main">본문 바로가기</a>
</div>
<main id="main">
    <article id="intro">
        <h1 class="intro--logo"></h1>
        <h2>할수있다</h2>
        <section class="intro-menu">
            <div class="container">
                <ul class="intro-menu--list">
                    <li>
                        <a href="/storage">
                            <p class="menu--name">자료실</p>
                            <p class="menu--link">바로가기</p>
                        </a>
                        <a href="/storage">
                            <p class="menu--name">자료실</p>
                            <p class="menu--link">바로가기</p>
                        </a>
                        <!--<a th:href="@{/feed(communityId=${community.communityId})}">
                            <p class="menu&#45;&#45;name" th:text="${community.communityName}">커뮤니티 이름</p>
                            <p class="menu&#45;&#45;link">바로가기</p>
                        </a>-->
                    </li>
                    <th:block th:each="community : ${communityList}">
                        <li>
                            <a th:href="@{/feed(communityId=${community.communityId})}">
                                <p class="menu--name" th:text="${community.communityName}">커뮤니티 이름</p>
                                <p class="menu--link">바로가기</p>
                            </a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </section>
    </article>
</main>
</body>
</html>