<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1, width=device-width" />
    <title>타이거컴퍼니 CRM</title>
    <link rel="stylesheet" as="style" href="/assets/font/pretendard-subset.css" />
    <link rel="stylesheet" href="/assets/css/color.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/layout.css">
    <link rel="stylesheet" href="/assets/css/loginv1.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="wrapper fouc">
    <article id="login">
        <div class="container">
            <section class="login">
                <h1 class="logo"><span class="hidden">로그인</span></h1>
                <form action="/login"  method="post" class="login-form" th:object="${user}">
                    <div th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="login_validation">
                        error message area
                    </div>
                    <div class="input-wrap">
                        <label for="userId" class="label01">아이디</label>
                        <input type="text" id="userId" name="userId"
                               th:field="*{userId}"
                               th:errorclass="'input--error'"
                               class="input--l input01 login__input"
                               placeholder="아이디를 입력해주세요"/>
                        <div class="msg">
                            <span th:errors="*{userId}">error message area</span>
                        </div>
                    </div>
                    <div class="input-wrap">
                        <label for="userPw" class="label01" >비밀번호</label>
                        <input type="password" id="userPw" name="userPw"
                               th:field="*{userPw}"
                               th:errorclass="'input--error'"
                               class="input--l input01 login__input"
                               placeholder="비밀번호를 입력해주세요"/>
                        <div class="msg">
                            <span th:errors="*{userPw}">error message area</span>
                        </div>

                    </div>

                    <div class="login__button-wrap">
                        <button type="submit" class="btn btn--full btn--l primary-btn">로그인</button>
                    </div>
                </form>
            </section>
            <p class="copyright">Copyright © 2025 Tiger Company Co., LTD. All rights reserved.</p>
        </div>
    </article>
</div>

<script th:if="${showPasswordChangeModal}">
    $(document).ready(function () {
       showPasswordChangeModal()
   });
   function showPasswordChangeModal() {
       var userId = $("#userId").val();
       if (userId.includes('@')) {
           userId = userId.split('@')[0];  // @ 앞까지만 잘라냄
       }
       Swal.fire({
           title: '비밀번호 변경',
           html: `
               <div style="color: red; font-size: 14px; margin-top: 5px;">
                   * 비밀번호는 8자리 이상, 대문자, 소문자, 숫자, 특수문자를 각각 1개 이상 포함해야 하며, ID와 동일한 문자를 포함할 수 없습니다.
               </div>
               <input type="password" id="newPassword" class="swal2-input" placeholder="새 비밀번호 입력">
               <input type="password" id="confirmPassword" class="swal2-input" placeholder="비밀번호 확인">
           `,
           icon: 'warning',
           showCancelButton: true,
           confirmButtonText: '변경',
           cancelButtonText: '취소',
           customClass: {
               confirmButton: 'btn btn--s primary-btn',
               cancelButton: 'btn btn--s secondary-btn'
           },
           preConfirm: () => {
               const newPassword = document.getElementById('newPassword').value;
               const confirmPassword = document.getElementById('confirmPassword').value;
               const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$/;

               if (!newPassword || !confirmPassword) {
                   Swal.showValidationMessage('비밀번호를 입력하세요.');
                   return false;
               }
               if (newPassword !== confirmPassword) {
                   Swal.showValidationMessage('비밀번호가 일치하지 않습니다.');
                   return false;
               }
               if (!passwordRegex.test(newPassword)) {
                               Swal.showValidationMessage('비밀번호는 8자리 이상, 대문자, 소문자, 숫자, 특수문자를 각각 1개 이상 포함해야 합니다.');
                               return false;
                           }
               // ID와 동일한 문자 포함 여부 체크
               if (newPassword.toLowerCase().includes(userId.toLowerCase())) {
                   Swal.showValidationMessage('비밀번호에 ID와 동일한 문자를 포함할 수 없습니다.');
                   return false;
               }
               return newPassword; // 유효성 검사 통과 시, 새로운 비밀번호 반환
           }
       }).then((result) => {
           if (result.isConfirmed) {
                $.ajax({
                    url: "/changePasswordLogin",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ userPw: result.value,userId: $("#userId").val() }),
                    success: function(response) {
                        if (response && response.status === 'success') {
                            alert("비밀번호가 변경되었습니다. 다시 로그인 해주시기 바랍니다.");
                        } else {
                            alert(response?.message || "비밀번호 변경 중 문제가 발생했습니다.");
                        }
                    },
                    error: function(xhr, status, error) {
                        if (xhr.status === 401) {
                            alert("세션이 만료되었습니다. 다시 로그인해주세요.");
                            window.location.href = "/login";  // 로그인 페이지로 이동
                        } else {
                            alert("서버에 요청을 보낼 수 없습니다.");
                        }
                        console.error("AJAX 요청 실패:", error);
                    }
                });

           }
       });
   }

</script>
</body>
</html>