<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >

<!-- <head> 공통   -->
<head th:replace="~{common/frame_head :: head}"></head>

<body>
<div class="wrapper">
    <!-- 왼쪽 메뉴  -->
    <div th:replace="~{common/frame_left_menu :: frame_left_menu}" />

    <!-- 상단 메뉴  -->
    <div th:replace="~{common/frame_top_menu :: frame_top_menu}" />

    <!-- 컨텐츠 영역 -->
    <div class="main-area">
        <!-- 내용 영역 -->
        <main class="form-content">
            <div class="container">
                <div class="main-widget-wrap">
                    <div class="content">
                        <!-- 검색 영역 -->
                        <div class="search--box">
                            <div class="content-header">
                                <h2 class="text-body1">
                                    <div class="flex flex-align_center gap--8">
                                        <b>메일발송 내역</b>
                                    </div>
                                </h2>
                                <!-- 검색영역 -->
                                <div class="searchbar">
                                    <div>
                                        <div class="dropdown dropdown--s wd100" aria-expanded="false" tabindex="0">
                                            <select class="dropdown__selected" id="searchType" name="searchType" th:value="${searchType}" >
                                                <option value="">검색조건</option>
                                                <option value="TITLE">제목</option>
                                                <option value="SENDER_ADDR">발신자</option>
                                                <option value="RECEIVER_ADDR">수신자</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="search-wrap">
                                            <input type="text" id="searchKeyword" name="searchKeyword" class="input--s input01" placeholder="검색어를 입력해주세요." th:value="${searchKeyword}" onkeydown="if (event.keyCode === 13) searchMailHist(this);"  >
                                            <button class="icon-btn search__btn" onclick="searchMailHist(this);">
                                                <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#search}" /></svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div style="align-content: center;">
                                        <button class="btn just-icon btn--24" id="refresh" onclick="searchMailHist(this);" >
                                            <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#refresh}" /></svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:fragment="mailHistListFragment" id ="mailHistListContainer">
                            <!-- 전체 건수 -->
                            <div class="flex flex-justify_between flex-align_center ">
                                <div class="pageinfo">
                                    <div class="pagetotal">
                                        <span class="text-body4">전체 <strong class="color-navy500" th:text="${mailHistList.totalcnt}"></strong>건</span>
                                    </div>
                                </div>
                            </div>

                            <!-- //리스트 영역 -->
                            <div class="is_full" >
                                <div class="board-list board--m list-wrap ">
                                    <table class="table table01 table-ellipsis">
                                        <colgroup>
                                            <col style="width: 3%;">
                                            <col style="width: 8%;">
                                            <col style="width: 20%;">
                                            <col style="width: 13%;">
                                            <col style="width: 13%;">
                                            <col style="width: 12%;">
                                            <col style="width: 3%;">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>분류</th>
                                            <th class="board-title">제목</th>
                                            <th>발신자</th>
                                            <th>수신자</th>
                                            <th>발송일</th>
                                            <th>여부</th>
                                        </tr>
                                        </thead>
                                        <div>
                                            <tbody>
                                                <tr th:if="${mailHistList == null or mailHistList.dataList == null or #lists.isEmpty(mailHistList.dataList)}">
                                                    <td colspan="7" style="text-align:center;">내역이 없습니다</td>
                                                </tr>
                                                <tr th:each="mailHist : ${mailHistList.dataList}">
                                                    <td><span th:text="${mailHist['MAIL_SEND_ID']}"></span></td>
                                                    <td><span th:text="${mailHist['CATEGORY']}"></span></td>
                                                    <td><span th:text="${mailHist['TITLE']}"></span></td>
                                                    <td><span th:text="${mailHist['SENDER_ADDR']}"></span></td>
                                                    <td><span th:text="${mailHist['RECEIVER_ADDR']}"></span></td>
                                                    <td><span th:text="${mailHist['SEND_DT']}"></span></td>
                                                    <td><span th:text="${mailHist['SUCCESS_YN']}"></span></td>
                                                </tr>
                                            </tbody>
                                        </div>
                                    </table>
                                </div>
                            </div>
                            <!-- //리스트 영역 -->

                            <!-- 페이징 버튼 템플릿 호출 -->
                            <div class="board-footer">
                                <div th:replace="~{fragments/pagination :: pagination(${mailHistList}, 'mailHistory')}" />
                                <input type="hidden" id ="currentPage"  th:field="${mailHistList.currentPage}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script>

    // -------------------
    // 상세 검색
    // -------------------
    function searchMailHist(obj) {
        // 상세검색 초기화
        if (obj.id == "refresh"){
            $("#searchType").val("");
            $("#searchStatus").val("");
            $("#searchKeyword").val("");
            $("#startDate").val("");
            $("#endDate").val("");
        }

        var page = ($("#currentPage").val() === undefined || $("#currentPage").val() === "") ? '' : $("#currentPage").val();
       //var size = 5;
        var searchType = $("#searchType").val();
        var searchStatus = $("#searchStatus").val();
        var searchKeyword = $("#searchKeyword").val();

        // x-www-form-urlencoded 형식으로 데이터 생성
        const data = new URLSearchParams({
            page: page,
          //  size: size,
            searchType: searchType,
            searchStatus: searchStatus,
            searchKeyword: searchKeyword
        });

        fetch('/mailHistory', {
            method: 'POST',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body: data.toString()
        })
        .then(response => response.text())
        .then(data => {
            $('#mailHistListContainer').html(data);
        })
        .catch(error => console.error('검색 중 오류 발생:', error));
    }

    function goPage(url, page) {
        console.log(`Navigating to URL: ${url} with Page: ${page}`);
        $("#currentPage").val(page);
        // 실제 페이지 이동 로직 구현
        searchMailHist(this);
    }
</script>
</body>
</html>
