<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- <head>공통 /meta/import/script 호출  -->
<head th:replace="~{common/frame_head :: frame_head}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<body>
<div class="wrapper">
    <!-- 왼쪽 메뉴  -->
    <div th:replace="~{common/frame_left_menu :: frame_left_menu}" />

    <!-- 상단 메뉴  -->
    <div th:replace="~{common/frame_top_menu :: frame_top_menu}" />

    <!-- 컨텐츠 영역 -->
    <div class="main-area">
        <!-- 내용 영역 -->
        <main class="main-content">
            <div class="container">
                <div class="main-widget-wrap">
                    <!-- 티켓 미리보기 -->
                    <div class="flex1">
                        <section id="request" class="widget-item">
                            <h2 class="widget-title"><a href="/ticketlist" class="widget-title__link">요청내역</a></h2>
                            <div class="widget__content">
                                <div class="is_full">
                                    <div class="board-list board--m list-wrap ">
                                        <table class="table table01 table-ellipsis">
                                            <colgroup>
                                                <col style="width: 16%;">
                                                <col style="width: 50%;">
                                                <col style="width: 20%;">
                                                <col style="width: 20%;">
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th>요청번호</th>
                                                <th class="board-title">제목</th>
                                                <th>고객사</th>
                                                <th>진행상태</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <div id="requestList" th:if="${ticketList != null}">
                                                <tr th:if="${ticketList == null or #lists.isEmpty(ticketList)}">
                                                    <td colspan="4" style="text-align:center;">내역이 없습니다</td>
                                                </tr>
                                                <tr th:each="item : ${ticketList}">
                                                    <td><span th:text="${item.TICKET_ID}"></span></td>
                                                    <td><span th:text="${item.TITLE}"></span></td>
                                                    <td><span th:text="${item.COMPANY_NAME}"></span></td>
                                                    <td><span class="tag tag--navy" th:text="${item.STATUS_CD}"></span></td>
                                                </tr>
                                            </div>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- 공지사항 미리보기 -->
                    <div class="flex1">
                        <section id="notice" class="widget-item">
                            <h2 class="widget-title"><a href="javascript:alert('준비중입니다');" class="widget-title__link">완료내역</a></h2>
                            <div class="widget__content">
                                <div class="is_full">
                                    <div class="board-list board--m list-wrap ">
                                        <table class="table table01 table-ellipsis">
                                            <colgroup>
                                                <col style="width: 16%;">
                                                <col style="width: 50%;">
                                                <col style="width: 20%;">
                                                <col style="width: 20%;">
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th>요청번호</th>
                                                <th class="board-title">제목</th>
                                                <th>고객사</th>
                                                <th>진행상태</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <div id="completeList" th:if="${ticketList2 != null}">
                                                    <tr th:if="${ticketList2 == null or #lists.isEmpty(ticketList2)}">
                                                        <td colspan="4" style="text-align:center;">내역이 없습니다</td>
                                                    </tr>
                                                    <tr th:each="item : ${ticketList2}">
                                                        <td><span th:text="${item.TICKET_ID}"></span></td>
                                                        <td><span th:text="${item.TITLE}"></span></td>
                                                        <td><span th:text="${item.COMPANY_NAME}"></span></td>
                                                        <td><span class="tag tag--red" th:text="${item.STATUS_CD}"></span></td>
                                                    </tr>
                                                </div>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- 공지사항 미리보기 -->
                <div class="widget-edit-wrap">
                    <div class="widget-edit__content">
                        <div>
                            <span class="btn btn--l icon-btn menu-btn">
                                <svg class="icon">
                                    <use href="/assets/images/icon/sprite-sheet.svg#notification"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="swiper widget-edit-list">
                            <div class="swiper-wrapper">
                                <!-- 각 슬라이드는 swiper-slide로 감쌉니다 -->
                                <div class="swiper-slide">[공지사항] 1번공지사항 :  가나다라마바사 [ 중요 ]</div>
                                <div class="swiper-slide">[공지사항] 2번 공지사항: 자차카타파하 [ 중요 ]</div>
                                <div class="swiper-slide">[공지사항] 3번입니다~~~~: 나다라바마사 [ 중요 ]</div>
                                <!-- 추가 슬라이드를 여기에 넣습니다 -->
                            </div>
                        </div>
                        <div>
                            <span class="btn btn--l icon-btn menu-btn">
                                +
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- //내용 영역 -->
    </div>
    <!-- //컨텐츠 영역 -->
</div>

</body>
<script>
    $(document).ready(function() {
        var swiper = new Swiper('.widget-edit-list', {
            direction: 'vertical', // 슬라이드 방향을 수직으로 설정
            loop: true,             // 루프를 활성화하여 무한 반복
            autoplay: {
                delay: 5000,          // 슬라이드가 자동으로 넘어가는 시간 (밀리초)
                disableOnInteraction: false, // 사용자가 슬라이드를 건드려도 자동 재생 유지
            },
            slidesPerView: 1,       // 한 번에 하나의 슬라이드만 표시
            spaceBetween: 3,       // 슬라이드 사이의 간격
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    });
</script>
</html>
