<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1, width=device-width" />
    <title>공지사항</title>
    <link rel="stylesheet" as="style" href="/assets/font/pretendard-subset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/color.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <script src="/lib/jquery/jquery-2.2.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!--toast ui 설정-->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

    <!--기타 전역에서 쓸 공통javascript 설정. commit-->
    <script src="/js/common.js"></script>
    <!--datepicker 관련 -->
    <script src="/lib/picker/datepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/lib/picker/datepicker.min.css">
    <script src="/js/datepicker.js"></script>
</head>
<body>
<div class="wrapper">

    <!-- 왼쪽 메뉴  -->
    <div th:replace="~{common/frame_left_menu :: frame_left_menu}" />

    <!-- 상단 메뉴  -->
    <div th:replace="~{common/frame_top_menu :: frame_top_menu}" />

    <!--팝업시 주변 어둡게-->
    <div class="layer-wrap dimmed" style="display: none;"></div>

    <!-- 컨텐츠 영역 -->
    <div class="main-area">
        <!-- 내용 영역 -->
        <main class="form-content">
            <div class="container">
                <div class="main-widget-wrap">
                    <div class="content">
                        <!-- 헤더 영역 -->
                        <div class="search--box">
                            <div class="content-header">
                                <h2 class="text-body1">
                                    <div class="flex flex-align_center gap--8">
                                        <b th:text="${mode == 'write' ? '공지사항 작성' : (mode == 'modify' ? '공지사항 수정' : '공지사항 상세')}"></b>
                                    </div>
                                </h2>
                            </div>
                        </div>
                        <!-- //헤더 영역 -->
                        <!-- form 영역 -->
                        <form id= "boardSubmitArea" action="/noticeBoard"  method="post" enctype="multipart/form-data" th:object="${noticeBoard}">
                            <input type="hidden" id="boardId" th:value="${noticeBoard.boardId}" name="boardId">
                            <input type="hidden" id="mode" th:value="${mode}" name="mode">
                            <div>
                                <!--사용자 입력 영역-->
                                <table class="table table03 table--h table--xs">
                                    <colgroup>
                                        <col style="width: 18%;">
                                        <col style="width: auto;">
                                        <col style="width: 18%;">
                                        <col style="width: auto;">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th>작성자</th>
                                        <td th:text="${noticeBoard.boardId != 0 ? noticeBoard.userName : user.userName}"></td>
                                        <th>작성일자</th>
                                        <td th:text="${noticeBoard.createDt}" class="convertDateFormat">0000-00-00</td>
                                    </tr>
                                    <tr>
                                        <th>제목</th>
                                        <td>
                                            <input type="text"
                                                   id="title"
                                                   name="title"
                                                   class="input--xs input01 input--full"
                                                   th:errorclass="'input--error'"
                                                   th:field="*{title}"
                                                   th:readonly="${mode == 'read'}">
                                            <span th:errors="*{title}" class="board_validation">error message area</span>
                                        </td>
                                        <th>상단 공지 여부</th>
                                        <td>
                                            <div class="input-list--h">
                                                <label class="checkbox02">
                                                    <input type="checkbox" id="topYnCheckbox">
                                                    <span>상단공지</span>
                                                </label>
                                                <input type="hidden" id="topYn" name="topYn" value="Y">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>팝업여부</th>
                                        <td colspan="3">
                                            <div class="element-horizontal-arrangement">
                                                <label class="checkbox02 ml8">
                                                    <input type="checkbox" id="popupYnCheckbox">
                                                    <span>팝업등록</span>
                                                </label>
                                                <input type="hidden" id="popupYn" name="popupYn">
                                                <label class="checkbox02 ml8">
                                                    <input type="checkbox" id="alwaysDisplay">
                                                    <span>항상노출</span>
                                                </label>
                                                <div th:include="fragments/datepicker :: datepicker('popupStartDt', 'popupEndDt')"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>열람대상</th>
                                        <td colspan="3">
                                            <div class="input-list--h">
                                                <label class="radio02">
                                                    <input type="radio" name="viewAllYn" checked="" value="y">
                                                    <span>전체열람</span>
                                                </label>
                                                <label class="radio02">
                                                    <input type="radio" name="viewAllYn" value="n">
                                                    <span>지정 고객사 열람</span>
                                                </label>
                                                <input type="hidden" id="openYn" name="openYn" value="Y">
                                            </div>
                                        </td>
                                    </tr>
                                    <!--열람대상 회사 이름 추가-->
                                    <tr id="viewCompanyWrapper" style="display:none;">
                                        <td colspan="4" id="viewCompany"></td>
                                        <input type="hidden" name="boardOpenCompanies" id="boardOpenCompanies">
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <div class="editor-wrap">
                                                <div id="editorContent"></div>
                                                <input type="hidden" name="content" id="content" th:field="*{content}">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>첨부파일</th>
                                        <td colspan="3">
                                            <div class="attachment-wrapper">
                                                <div class="flex gap--4">
                                                    <button type="button" id="uploadButton" class="btn btn--xs mono-outline-btn" th:if="${mode != 'read'}">파일 추가</button>
                                                    <input type="file" multiple="multiple" id="attachFilesTemp" name="attachFilesTemp" class="file_attach_input">
                                                    <input type="file" multiple="multiple" id="attachFiles" name="attachFiles" class="file_attach_input">
                                                    <button type="button" id="fileDelete" class="btn btn--xs mono-outline-btn" th:if="${mode != 'read'}">전체삭제</button>
                                                    <span th:errors="*{attachFiles}" class="board_validation">error message area</span>
                                                </div>
                                                <div class="attachment-file">
                                                    <!--기존에 있었던 첨부파일-->
                                                    <ul id="fileAttach1" class="list01">
                                                        <li class="list__item" th:each="file : ${uploadFiles}">
                                                            <div class="item__title">
                                                                <svg class="icon icon--20 color-gray700">
                                                                    <use href="/assets/images/icon/sprite-sheet.svg#attachment"></use>
                                                                </svg>
                                                                <a th:href="@{/fileDownload(fileName=${file.fileName})}"
                                                                   th:text="${file.originFileName}"
                                                                   class="file-link">파일 이름 sample</a>
                                                                <button type="button"
                                                                        class="icon icon--20 just-icon deleteFileButton"
                                                                        th:if="${mode != 'read'}"
                                                                        th:data-filename="${file.fileName}">
                                                                    <svg class="icon">
                                                                        <use href="/assets/images/icon/sprite-sheet.svg#close" ></use>
                                                                    </svg>
                                                                </button>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <!--//기존에 있었던 첨부파일-->
                                                    <!--추가하는 첨부파일-->
                                                    <ul id="addFileAttach" class="list01">
                                                    </ul>
                                                    <!--//추가하는 첨부파일-->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--//사용자 입력 영역-->
                                <!--버튼그룹-->
                                <div class="button-group align-right">
                                    <button type="submit" class="btn btn--m primary-btn" th:if="${mode == 'write'}">글등록</button>
                                    <button type="button" class="btn btn--m primary-btn" th:if="${mode == 'modify'}" onclick="submitModifiedBoard()">수정저장</button>
                                    <button type="button" class="btn btn--m primary-btn"
                                            th:if="${mode == 'read'}"
                                            onclick="getModifyBoard()">글수정</button>
                                    <button type="button" class="btn btn--m danger-btn" th:if="${mode == 'read'}" onclick="deleteBoard()">글삭제</button>
                                    <button type="button" class="btn btn--m  secondary-btn" onclick="location.href='/noticeBoardList';">목록으로</button>
                                </div>
                                <!--//버튼그룹-->
                            </div>
                        </form>
                        <!-- //form 영역 -->

                    </div>
                </div>
            </div>
        </main>
        <!-- //내용 영역 -->
    </div>
    <!-- //컨텐츠 영역 -->
    <!--모달 영역-->
    <div class="layerpopup-wrap layerpopup--xl layerpopup--center contact-layer" style="display: none;">
        <div class="layerpopup__header">
            <h1 class="layerpopup__title">열람 회사 선택</h1>
            <button class="btn icon-btn close-btn" onclick="closeLayerpopup()"><svg class="icon"><use href="/assets/images/icon/sprite-sheet.svg#close"/></svg></button>
        </div>
        <div class="layerpopup__content">
            <div class="contact-wrap">
                <div id="left-wrap" class="left-wrap">
                    <div class="contact__user-list">
                        <ul class="list01 employee-list" id="ulLeft">
                            <li class="list__item" th:each="option : ${companyOptions}" th:data-id="${option.companyId}" th:data-value="${option.companyName}">
                                <div class="item__title">
                                    <div class="item__title-text">
                                        <span th:text="${option.companyName}">회사이름</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="move-button-area">
                    <button class="btn btn--s icon-btn mono-outline-btn tab-arrow-btn" onclick="moveCompanyElements('allToRight')">>></button>
                    <button class="btn btn--s icon-btn mono-outline-btn tab-arrow-btn" onclick="moveCompanyElements('selectedToRight')"><svg class="icon"><use href="/assets/images/icon/sprite-sheet.svg#arrow-right"></use></svg></button>
                    <div class="move-button-area-blank"></div>
                    <button class="btn btn--s icon-btn mono-outline-btn tab-arrow-btn" onclick="moveCompanyElements('selectedToLeft')"><svg class="icon"><use href="/assets/images/icon/sprite-sheet.svg#arrow-left"></use></svg></button>
                    <button class="btn btn--s icon-btn mono-outline-btn tab-arrow-btn" onclick="moveCompanyElements('allToLeft')"><<</button>
                </div>
                <div id="right-wrap" class="right-wrap">
                    <div class="contact__user-list">
                        <ul class="list01 employee-list" id="ulRight">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="layerpopup__footer">
            <div class="flex flex-justify_center gap--8 btn-wrap">
                <button type="button" class="btn btn--s mono-outline-btn" onclick="closeLayerpopup()">취소</button>
                <button type="button" class="btn btn--s primary-btn" onclick="chooseTargetCompanies()">선택</button>
            </div>
        </div>
    </div>
    <!--//모달 영역-->
</div>

<script>
    var boardId = document.querySelector('#boardId').value;
    var mode = document.querySelector('#mode').value;
    var fileInput = document.getElementById('attachFilesTemp'); //file input tag
    var selectedFiles = [];
    var deleteSavedAttachFiles = [];
    var chooseTargetArr = [];

    var contentValue = document.getElementById('content').value;

    //1. editor load 및 초기화
    var editor = common.loadOrInitializeEditor(editor , mode, contentValue);

    //2. form submit 전 작업
    document.querySelector('#boardSubmitArea').addEventListener('submit', function (e) {

        // 에디터 안의 html 콘텐츠를 가져와서 hidden input 안에 데이터를 넣고 전송
        var content = editor.getHTML();
        document.querySelector('#content').value = content;

        //선택한 회사 옵션 관련 설정
        const boardOpenCompanies = document.getElementById('boardOpenCompanies');
        boardOpenCompanies.value = JSON.stringify(chooseTargetArr);

        //첨부파일 설정
        common.attachFileWorks();

        //날짜 disabled 품
        document.querySelector('.start-date').disabled = false;
        document.querySelector('.end-date').disabled = false;

        //체크박스,라디오버튼 변환
        const topYnCheckbox = document.getElementById('topYnCheckbox');
        const topYn = document.getElementById('topYn');
        const popupYnCheckbox = document.getElementById('popupYnCheckbox');
        const popupYn = document.getElementById('popupYn');

        popupYn.value = popupYnCheckbox.checked ? 'Y' : 'N';
        topYn.value = topYnCheckbox.checked ? 'Y' : 'N';


    });

    //3. 글 삭제
    function deleteBoard() {
        var url = `/noticeBoard`;
        if (confirm('정말로 삭제하시겠습니까?')) {
            fetch(url, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ boardId: boardId }),
            })
            .then(response => {
                if (response.ok) {
                    alert('삭제되었습니다.');
                    window.location.href = '/noticeBoardList'; // 삭제 후 이동할 페이지
                } else {
                    response.text().then(message => {
                        alert(`서버응답실패: ${message}`);
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('오류가 발생해 서버로 요청을 전송하지 못했습니다');
            });
        }
    }
    //4. 글 수정 페이지로 전환
    function getModifyBoard() {
        var url = '/noticeBoard?boardId=' + boardId + '&mode=modify';
        window.location.href = url;
    }

    //5. 글 수정후 저장
    function submitModifiedBoard() {
        var content = editor.getHTML();
        document.querySelector('#content').value = content;

        common.attachFileWorks();

        const formData = new FormData(document.getElementById('boardSubmitArea'));

        console.log(formData);

        formData.append('deleteSavedAttachFiles', JSON.stringify(deleteSavedAttachFiles));

        var url = '/noticeBoard';

        // Fetch API로 서버에 요청 전송
        fetch(url, {
            method: 'PUT',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                alert('처리가 완료되었습니다.');
                window.location.href = '/noticeBoardList'; // 완료 후 이동할 URL
            } else {
                return response.json().then(data => {
                    if (data.errors) {
                        alert(data.errors.join('\n')); // 오류 메시지 출력
                    } else {
                        alert('알 수 없는 오류가 발생했습니다.');
                    }
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('서버 요청 중 문제가 발생했습니다.');
        });
    }

    //6. 항상노출 클릭시 datepicker 날짜 고정
    document.querySelector('#alwaysDisplay').addEventListener('change', function () {

        const startDateInput = document.querySelector('.start-date');
        const endDateInput = document.querySelector('.end-date');


        if (document.querySelector('#alwaysDisplay').checked) {
            //데이트 피커 잠기게
            startDateInput.disabled = true;
            endDateInput.disabled = true;
            startDateInput.classList.add('disabled');
            endDateInput.classList.add('disabled');
            document.querySelector('#popupStartDt').value='1999-01-01';
            document.querySelector('#popupEndDt').value='2999-12-31';
        } else {
            //데이트 피커 안잠기게
            startDateInput.disabled = false;
            endDateInput.disabled = false;
            startDateInput.classList.remove('disabled');
            endDateInput.classList.remove('disabled');
            document.querySelector('#popupStartDt').value='';
            document.querySelector('#popupEndDt').value='';
        }
    });

    //7. 지정고객사 열람 radio button
    document.querySelectorAll('input[name="viewAllYn"]').forEach(radio => {
        radio.addEventListener('click', function() {
            if (this.value === 'n' && this.checked) { //지정고객사열람일 경우

                document.getElementById('openYn').value = 'N';

                document.querySelector('.layerpopup-wrap').style.display = 'block';
                document.querySelector('.layer-wrap.dimmed').style.display = 'block';

            }else if (this.value === 'y' && this.checked) { //모두열람일 경우

                document.getElementById('openYn').value = 'Y';

                //글씨 보이는 영역 지우기
                document.getElementById('viewCompanyWrapper').style.display = 'none';
                //배열 초기화
                chooseTargetArr = [];
                //오른쪽에 있는 애들 다 오른쪽으로 옮기기
                moveCompanyElements('allToLeft');
                //선택된 회사들 선택풀기
                document.querySelectorAll('.list__item.selected').forEach(item => {
                    item.classList.remove('selected');
                });
            }
        });
    });

    //8. 팝업창 닫기
    function closeLayerpopup(){
        document.querySelector('.layerpopup-wrap').style.display = 'none';
        document.querySelector('.layer-wrap.dimmed').style.display = 'none';
    }

    //9. popuplayer 에서 list 선택 시에 색깔 입힘
    document.querySelectorAll('.list01 > .list__item').forEach(item => {
        item.addEventListener('click', function () {
            if (this.classList.contains('selected')) {
                this.classList.remove('selected');
            } else {
                // selected가 없으면 추가
                this.classList.add('selected');
            }
        });
    });

    //10. popuplayer 고객사 이동 버튼
    function moveCompanyElements(direction){
        var ulLeft = document.getElementById('ulLeft');
        var ulRight = document.getElementById('ulRight');

        if(direction == 'allToLeft'){ //모두 왼쪽
            while (ulRight.firstChild) {
                ulLeft.appendChild(ulRight.firstChild);
            }
        }else if(direction == 'selectedToLeft'){ //선택항목만 왼쪽
            var selectedItemsRight = ulRight.querySelectorAll('.list__item.selected');
            selectedItemsRight.forEach(item => {
                ulLeft.appendChild(item);
            });
        }else if(direction == 'allToRight'){ //모두 오른쪽
            while (ulLeft.firstChild) {
                ulRight.appendChild(ulLeft.firstChild);
            }
        }else if(direction == 'selectedToRight'){ //선택항목만 오른쪽
            var selectedItemsLeft = ulLeft.querySelectorAll('.list__item.selected');
            selectedItemsLeft.forEach(item => {
                ulRight.appendChild(item);
            });
        }
    }

    //11. 팝업에서 회사들을 고름
    function chooseTargetCompanies(){
        var arr = [];

        // #ulRight에서 selected 클래스를 가진 모든 li 요소를 찾기
        const ulRight = document.getElementById('ulRight');
        //const selectedItems = ulRight.querySelectorAll('.list__item.selected');
        const selectedItems = ulRight.querySelectorAll('.list__item');

        // 각 selected li 요소에 대해 반복
        selectedItems.forEach(item => {
            var obj = {
                companyId: item.getAttribute('data-id'), // th:data-id 값을 id로 설정
                companyName: item.getAttribute('data-value') // th:data-value 값을 name으로 설정
            };

            arr.push(obj);
        });

        chooseTargetArr = arr ;

        var viewCompanyElement = document.getElementById('viewCompany'); //열람대상 회사 이름 나열하는 구역

        //회사 이름 쓰기
        if (viewCompanyElement) {
            const names = chooseTargetArr.map(obj => `"${obj.companyName}"`).join(', ');
            viewCompanyElement.textContent = names;
            document.getElementById('viewCompanyWrapper').style.removeProperty('display');
        }

        closeLayerpopup();

    }

</script>
</body>
</html>
