<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >

<!-- <head> 공통   -->
<head th:replace="~{common/frame_head :: head}"></head>

<body>
<div class="wrapper">
    <!-- 왼쪽 메뉴  -->
    <div th:replace="~{common/frame_left_menu :: frame_left_menu}" />

    <!-- 상단 메뉴  -->
    <div th:replace="~{common/frame_top_menu :: frame_top_menu}" />

    <!-- 컨텐츠 영역 -->
    <div class="main-area">
        <!-- 내용 영역 -->
        <main class="form-content">
            <div class="container">
                <div class="orReport-widget-wrap">
                    <div class="content">
                        <!-- 검색 영역 -->
                        <div class="search--box">
                            <div class="content-header">
                                <h2 class="text-body1">
                                    <div class="flex flex-align_center gap--8">
                                        <b>운영지원 보고서</b>
                                    </div>
                                </h2>
                                <!-- 검색영역 -->
                                <div class="searchbar">
                                    <div>
                                        <div class="dropdown dropdown--s wd120" aria-expanded="false" tabindex="0">
                                            <select class="dropdown__selected" id="companySelect" onchange="generateReportList(this)" th:disabled="${userClass == 'USER'}">
                                                <option th:each="op : ${companyOptions}"
                                                        th:value="${op.companyId}"
                                                        th:data-name="${op.companyName}"
                                                        th:text="${op.companyName}"
                                                        th:selected="${op.companyName == selectedCompanyName}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- 년 셀랙트박스 -->
                                    <div class="dropdown dropdown--s wd170" aria-expanded="false" tabindex="0">
                                        <select id="yearSelect" name="yearSelect" class="dropdown__selected" onchange="generateReportList()">
                                            <option value="">연도를 선택하세요</option>
                                            <option th:each="year : ${yearList}" th:value="${year.year}" th:text="${year.year}"></option>
                                        </select>
                                    </div>
                                <!-- //검색영역 -->
                                </div>
                            </div>
                        </div>

                        <!-- 리스트 영역 -->
                        <div class="flex-container">
                            <!-- 연도별 보고서 목록 -->
                            <div class="flex1 widget-select">
                                <section id="opReportList" class="opReportList-parts">
                                    <div class="widget__content">
                                        <ul class="opReportList-items" id="opReportList-items"></ul>

                                    </div>
                                </section>
                            </div>
                            <!-- 보고서 상세 내용 -->
                            <div class="flex1 widget-content">
                                <section id="opReportDetail" class="opReportList-parts">
                                    <div class="widget__content"  id="reportContent">
                                        <!-- 보고서 양식 호출 -->
                                        <div th:replace="~{fragments/opReportFragment}" />
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- //내용 영역 -->
    </div>
    <!-- //컨텐츠 영역 -->
</div>

<script>
    // -------------------
    // 최초 접속 시  운영지원보고서 선택 해야함.
    // ------------------
    $(document).ready(function () {
        // 최초 접속 시 현재 연도를 기본값으로 설정
        const currentYear = new Date().getFullYear(); // 현재 연도 가져오기
        const yearSelect = document.getElementById('yearSelect');
        yearSelect.value = currentYear; // 연도 선택 박스 기본값 설정

        generateReportList(); // 보고서 리스트 생성

        // 최초 접속 시 빈값 양식
        $("#reportContent").html('' +
            '<div style="display: flex; flex-direction: column; align-items: center; height:100%;"">' +
                '<span>' +
                    '<img src="../assets/images/common/tiger_logo2.png" style="width: 60px; height: 60px;"/>' +
                '</span>' +
                '<span style="font-size: 15px; font-weight: 500; margin-left: 10px;">보고서를 선택해 주세요.</span>' +
            '</div>' +
        '');

    });

    // -------------------
    // 연도 선택시 보고서 리스트 자동 변경
    // ------------------
    function generateReportList() {
        var companyId = $("#companySelect").val();
        var selectedYear = $('#yearSelect').val();
        const reportList = document.getElementById('opReportList-items');

        reportList.innerHTML = '';

        if (selectedYear) {
            for (let month = 1; month <= 12; month++) {
                const paddedMonth = String(month).padStart(2, '0');
                const li = document.createElement('li');
                li.textContent = `${selectedYear}년 ${month}월 운영지원보고서`;
                li.setAttribute(
                    'onclick',
                    `loadReport('${selectedYear + paddedMonth}', '${companyId}')`
                );
                reportList.appendChild(li);
            }
        }
    }

    // -------------------
    // 보고서 상세 조회
    // ------------------
    function loadReport(opReportId, compnayId) {
        $.ajax({
            url: '/opReportContent',
            method: 'GET',
            data:{'opReportId': opReportId, 'companyId': compnayId },
            success: function (data) {
                $("#reportContent").html(data);
            },
            error: function (xhr, status, error) {
                console.error('운영지원보고서 조회 실패:', error);
            }
        });
    }

    // -------------------
    // 인쇄 기능
    // ------------------
    function printReport() {
        const printContent = document.querySelector('#opReportDetail').innerHTML;
        const printWindow = window.open('', '_blank', 'scrollbars=no,toolbar=no');

        // 새 창에 인쇄할 내용을 작성
        printWindow.document.write(`
            <html>
                <head>
                    <title>운영지원보고서</title>
                    <style>
                        @page { size: auto; margin: 0; }
                        body { font-family: Arial, sans-serif; margin: 20px; }
                        table { width: 100%; border-collapse: collapse; }
                        th, td { border: 1px solid #ddd; padding: 0px; text-align: left; }
                        th { background-color: #f2f2f2; }
                        tr { height: 20px; }
                        @media print { button, svg {display: none;} }
                    </style>
                </head>
                <body>${printContent}</body>
            </html>
        `);

        // 문서 작성 완료 후 인쇄 실행
        printWindow.document.close();
        printWindow.focus(); // 일부 브라우저에서 안정성을 위해 포커스 필요
        printWindow.print();

        // 일정 시간 뒤에 새 창을 닫기
        setTimeout(() => {
            printWindow.close();
        }, 100);
    }

    // -------------------
    // 클릭 시 css 활성화
    // ------------------
    $('#opReportList-items li').on('click', function () {
        // 모든 항목에서 active 클래스 제거
        $('#opReportList-items li').removeClass('active');

        // 클릭된 항목에 active 클래스 추가
        $(this).addClass('active');
    });
</script>
</body>
</html>
