<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/frame_head :: head('운영지원보고서')}"></head>
<head>
    <style>
        @page { size: auto; margin: 0; }
        body { font-family: Arial, sans-serif; margin: 20px; }
        table { width: 100%; border-collapse: collapse; }
        th, td { border: 1px solid #ddd; padding: 0px; text-align: left; }
        th { background-color: #f2f2f2; }
        tr { height: 20px; }
        @media print { button, svg {display: none;} }
    </style>
</head>
<body>${printContent}</body>
</html>