<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{common/frame_head :: head('시스템 정보')}"></head>
<body>
<div class="wrapper">
    <!-- 왼쪽 메뉴  -->
    <div th:replace="~{common/frame_left_menu :: frame_left_menu}" />

    <!-- 컨텐츠 영역 -->
    <div class="main-area">
        <!-- 내용 영역 -->
        <main class="form-content">
            <div class="container">
                <div class="main-widget-wrap">
                    <div class="content">
                        <!-- 검색 영역 -->
                        <div class="search--box">
                            <div class="content-header">
                                <h2 class="text-body1">
                                    <div class="flex flex-align_center gap--8">
                                        <b>시스템 관리</b>
                                    </div>
                                </h2>
                                <!-- 검색영역 -->
                                <div class="searchbar">
                                    <div>
                                        <div class="dropdown dropdown--s wd180" aria-expanded="false" tabindex="0">
                                            <select class="dropdown__selected" id="searchCompany" name="searchCompany"
                                                    th:value="${searchCompany}" onchange="searchBoards(this); ">
                                                <option value="">==고객사==</option>
                                                <option th:each="op : ${companyOptions}"
                                                        th:value="${op.companyId}"
                                                        th:text="${op.companyName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown dropdown--s wd130" aria-expanded="false" tabindex="0">
                                            <select class="dropdown__selected" id="searchType" name="searchType" th:value="${searchType}" >
                                                <option value="">==검색조건==</option>
                                                <option th:each="op : ${searchOptions}"
                                                        th:value="${op.key}"
                                                        th:text="${op.value}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="search-wrap">
                                            <input type="text" id="searchKeyword" name="searchKeyword" class="input--s input01" placeholder="검색어를 입력해주세요." th:value="${searchKeyword}" onkeydown="if (event.keyCode === 13) searchBoards(this);"  >
                                            <button class="icon-btn search__btn" onclick="searchBoards(this);">
                                                <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#search}" /></svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- //검색영역 -->
                            </div>
                        </div>

                        <!-- 리스트 영역 -->
                        <div th:fragment="systemBoardListFragment" id="systemBoardListContainer">
                        <!-- 리스트 상단 영역 -->
                            <div class="flex flex-justify_between flex-align_center ">
                                <div class="flex gap--4">
                                    <button type="button" class="btn btn--s primary-btn" th:onclick="'window.location.href=\'' + @{/systemBoard} + '\''">작성</button>
                                </div>
                            </div>
                            <div class="pageinfo">
                                <div class="pagetotal">
                                    <span class="text-body4">전체 <strong class="color-navy500"  th:text="${systemBoardList.totalcnt}"></strong>건</span>
                                </div>
                            </div>
                            <!-- //리스트 상단 영역 -->
                            <div class="is_full" >
                                <div class="board-list board--m list-wrap ">
                                    <table class="table table01 table-ellipsis">
                                        <colgroup>
                                            <col style="width: 20%;">
                                            <col style="width: 30%;">
                                            <col style="width: 30%;">
                                            <col style="width: 20%;">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>고객사</th>
                                            <th class="board-title">서버명</th>
                                            <th>작성자</th>
                                            <th>등록일시</th>
                                        </tr>
                                        </thead>
                                        <div>
                                            <tbody>
                                                <tr th:if="${systemBoardList == null or systemBoardList.dataList == null or #lists.isEmpty(systemBoardList.dataList)}">
                                                    <td colspan="4" style="text-align:center;">등록된 시스템 정보가 없습니다.</td>
                                                </tr>
                                                <tr th:each="systemBoard : ${systemBoardList.dataList}">
                                                    <td><span th:text="${systemBoard['COMPANY_NAME']}"></span></td>
                                                    <td>
                                                        <a th:href="@{/systemBoard(boardId=${systemBoard['BOARD_ID']})}"
                                                           th:text="${systemBoard['TITLE']}"></a>
                                                    </td>

                                                    <td><span th:text="${systemBoard['USER_NAME']}"></span></td>
                                                    <td><span th:text="${systemBoard['CREATE_DT']}"></span></td>
                                                </tr>
                                            </tbody>
                                        </div>
                                    </table>
                                </div>
                            </div>
                            <!-- //리스트 영역 -->
                            <div class="board-footer">
                                <!-- 페이징 버튼 템플릿 호출 -->
                                <div th:replace="~{fragments/pagination :: pagination(${systemBoardList}, '/systemBoardList')}" />
                                <input type="hidden" id ="currentPage"  th:field="${systemBoardList.currentPage}" readonly>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- //내용 영역 -->
    </div>
    <!-- //컨텐츠 영역 -->
</div>
<script>
    //검색형 셀렉트박스(select2) 관련 설정
    $(document).ready(function () {
        $('#searchCompany').select2();
    });
    $('#searchCompany').on('select2:open', function() {
      $('body').css('overflow', 'hidden');
    });
    $('#searchCompany').on('select2:close', function() {
      $('body').css('overflow', '');
    });

    //검색관련 설정
    function searchBoards(obj) {
        if (obj.id == "refresh"){
          $("#searchType").val("");
          $("#searchKeyword").val("");
          $("#searchCompany").val("");
        }
        var searchType = $("#searchType").val();
        var searchKeyword = $("#searchKeyword").val();
        var searchCompany = $("#searchCompany").val();
        var page = ($("#currentPage").val() === undefined || $("#currentPage").val() === "") ? '' : $("#currentPage").val();

        const data = new URLSearchParams({
            page:page,
            searchType: searchType,
            searchKeyword: searchKeyword,
            searchCompany: searchCompany
        });

        fetch('/systemBoardList', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
          },
          body: data.toString()
        })
        .then(response => response.text())
        .then(data => {
          document.getElementById('systemBoardListContainer').innerHTML = data;
        })
        .catch(error => console.error('검색 중 오류 발생:', error));
    }

    //게시물 상세보기
    function goPage(url, page) {
        $("#currentPage").val(page);
        // 실제 페이지 이동 로직 구현
        searchBoards(this);
    }

</script>
</body>
</html>
