<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1, width=device-width" />
    <title>시스템 정보</title>
    <link rel="stylesheet" as="style" href="/assets/font/pretendard-subset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/color.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <script src="/lib/jquery/jquery-2.2.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!--toast ui 설정-->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <!--기타 전역에서 쓸 공통javascript 설정. commit-->
    <script src="/js/common.js"></script>
</head>
<body>
<div class="wrapper">
    <!-- 왼쪽 메뉴  -->
    <div th:replace="~{common/frame_left_menu :: frame_left_menu}" />

    <!-- 상단 메뉴  -->
    <div th:replace="~{common/frame_top_menu :: frame_top_menu}" />

    <!-- 컨텐츠 영역 -->
    <div class="main-area">
        <!-- 내용 영역 -->
        <main class="form-content">
            <div class="container">
                <div class="main-widget-wrap">
                    <div class="content">
                        <!-- 헤더 영역 -->
                        <div class="search--box">
                            <div class="content-header">
                                <h2 class="text-body1">
                                    <div class="flex flex-align_center gap--8">
                                        <b th:text="${mode == 'write' ? '시스템 정보 작성' : (mode == 'modify' ? '시스템 정보 수정' : '시스템 정보 상세')}"></b>
                                    </div>
                                </h2>
                            </div>
                        </div>
                        <!-- //헤더 영역 -->
                        <!-- form 영역 -->
                        <form id= "boardSubmitArea" action="/systemBoard"  method="post" enctype="multipart/form-data" th:object="${systemBoard}">
                            <input type="hidden" id="boardId" th:value="${systemBoard.boardId}" name="boardId">
                            <input type="hidden" id="mode" th:value="${mode}" name="mode">
                            <div>
                                <!--사용자 입력 영역-->
                                <table class="table table03 table--h table--xs">
                                    <colgroup>
                                        <col style="width: 18%;">
                                        <col style="width: auto;">
                                        <col style="width: 18%;">
                                        <col style="width: auto;">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th>작성자</th>
                                        <td th:text="${systemBoard.boardId != 0 ? systemBoard.userName : user.userName}"></td>
                                        <th>작성일자</th>
                                        <td th:text="${systemBoard.createDt}" class="convertDateFormat">0000-00-00</td>
                                    </tr>
                                    <tr>
                                        <th>제목</th>
                                        <td colspan="3">
                                            <input type="text"
                                                   id="title"
                                                   name="title"
                                                   class="input--xs input01 input--full"
                                                   th:errorclass="'input--error'"
                                                   th:field="*{title}"
                                                   th:readonly="${mode == 'read'}">
                                            <span th:errors="*{title}" class="board_validation">error message area</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>회사</th>
                                        <td colspan="3">
                                            <div class="dropdown dropdown--xs" aria-expanded="false" tabindex="0">
                                                <select class="dropdown__selected" name="companyId" th:attr="disabled=${mode == 'read'}">
                                                    <!-- 기본 옵션 -->
                                                    <option value=""
                                                            th:selected="${systemBoard.boardId == 0}"
                                                            selected disabled>==회사 선택==
                                                    </option>
                                                    <!-- 상세보기 상태에서 선택된 회사 -->
                                                    <option th:if="${systemBoard.boardId != 0}"
                                                            th:value="${systemBoard.companyId}"
                                                            th:text="${systemBoard.companyName}"
                                                            selected>
                                                    </option>
                                                    <!-- 회사 목록 옵션 -->
                                                    <option th:each="option : ${companyOptions}"
                                                            th:value="${option.companyId}"
                                                            th:text="${option.companyName}"
                                                            th:if="${systemBoard.boardId == 0}">
                                                    </option>
                                                </select>
                                                <input type="hidden" name="companyName" id="companyName">
                                                <span th:errors="*{companyId}" class="board_validation">error message area</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <div class="editor-wrap">
                                                <div id="editorContent"></div>
                                                <input type="hidden" name="content" id="content" th:field="*{content}">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>첨부파일</th>
                                        <td colspan="3">
                                            <div class="attachment-wrapper">
                                                <div class="flex gap--4">
                                                    <button type="button" id="uploadButton" class="btn btn--xs mono-outline-btn" th:if="${mode != 'read'}">파일 추가</button>
                                                    <input type="file" multiple="multiple" id="attachFilesTemp" name="attachFilesTemp" class="file_attach_input">
                                                    <input type="file" multiple="multiple" id="attachFiles" name="attachFiles" class="file_attach_input">
                                                    <button type="button" id="fileDelete" class="btn btn--xs mono-outline-btn" th:if="${mode != 'read'}">전체삭제</button>
                                                    <span th:errors="*{attachFiles}" class="board_validation">error message area</span>
                                                </div>
                                                <div class="attachment-file">
                                                    <!--기존에 있었던 첨부파일-->
                                                    <ul id="fileAttach1" class="list01">
                                                        <li class="list__item" th:each="file : ${uploadFiles}">
                                                            <div class="item__title">
                                                                <svg class="icon icon--20 color-gray700">
                                                                    <use href="/assets/images/icon/sprite-sheet.svg#attachment"></use>
                                                                </svg>
                                                                <a th:href="@{/fileDownload(fileName=${file.fileName})}"
                                                                   th:text="${file.originFileName}"
                                                                   class="file-link">파일 이름 sample</a>
                                                                <button type="button"
                                                                        class="icon icon--20 just-icon deleteFileButton"
                                                                        th:if="${mode != 'read'}"
                                                                        th:data-filename="${file.fileName}">
                                                                    <svg class="icon">
                                                                        <use href="/assets/images/icon/sprite-sheet.svg#close" ></use>
                                                                    </svg>
                                                                </button>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <!--//기존에 있었던 첨부파일-->
                                                    <!--추가하는 첨부파일-->
                                                    <ul id="fileAttach2" class="list01">
                                                    </ul>
                                                    <!--//추가하는 첨부파일-->

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--//사용자 입력 영역-->
                                <!--버튼그룹-->
                                <div class="button-group align-right">
                                    <button type="submit" class="btn btn--m primary-btn" th:if="${mode == 'write'}">글등록</button>
                                    <button type="button" class="btn btn--m primary-btn" th:if="${mode == 'modify'}" onclick="submitModifiedBoard()">수정저장</button>
                                    <button type="button" class="btn btn--m primary-btn"
                                            th:if="${mode == 'read'}"
                                            onclick="getModifyBoard()">글수정</button>
                                    <button type="button" class="btn btn--m danger-btn" th:if="${mode == 'read'}" onclick="deleteBoard()">글삭제</button>
                                    <button type="button" class="btn btn--m  secondary-btn" onclick="location.href='/systemBoardList';">목록으로</button>
                                </div>
                                <!--//버튼그룹-->
                            </div>
                        </form>
                        <!-- //form 영역 -->
                    </div>
                </div>
            </div>
        </main>
        <!-- //내용 영역 -->
    </div>
    <!-- //컨텐츠 영역 -->
</div>

<script>
    var boardId = document.querySelector('#boardId').value;
    var mode = document.querySelector('#mode').value;
    var fileInput = document.getElementById('attachFilesTemp'); //file input tag
    var selectedFiles = [];
    var deleteSavedAttachFiles = [];

    //1. editor load 및 초기화
    var editor = common.loadOrInitializeEditor(editor , mode);

    //2. form submit 전 작업
    document.querySelector('#boardSubmitArea').addEventListener('submit', function (e) {
        // 에디터 안의 html 콘텐츠를 가져와서 hidden input 안에 데이터를 넣고 전송
        var content = editor.getHTML();
        document.querySelector('#content').value = content;

        //선택한 회사 옵션 관련 설정
        const selectElement = document.querySelector('.dropdown__selected');
        const selectedOption = selectElement.options[selectElement.selectedIndex];
        const companyNameInput = document.querySelector('#companyName');
        companyNameInput.value = selectedOption.textContent.trim();

        //첨부파일 설정
        attachFileWorks();
    });

    //3. 첨부파일 작업
    function attachFileWorks(){
        const realFileInput = document.getElementById('attachFiles');
        if (!realFileInput) {
            console.error('요소를 찾을 수 없습니다.');
            return;
        }
        // DataTransfer 객체를 활용해 selectedFiles를 설정
        const dataTransfer = new DataTransfer();
        selectedFiles.forEach(file => {
            dataTransfer.items.add(file);
        });
        // 기존 attachFilesTemp에 파일 설정
        realFileInput.files = dataTransfer.files;
        console.log('첨부 파일이 업데이트되었습니다:', selectedFiles);

    }

    //4. 첨부파일 추가 버튼을 누르면 파일 선택창이 열림
    document.querySelector('#uploadButton').addEventListener('click', () => {
        fileInput.click();
    });

    //5. 첨부파일 조작에 따라 전송할 파일들의 배열을 수정함
    fileInput.addEventListener('change', () => {
        console.log("파일 선택 완료");
        console.log(fileInput.files);
        const files = Array.from(fileInput.files); // 새로운 파일 배열
        files.forEach(file => {
            // 동일한 파일명이 있으면 추가하지 않음
            if (!selectedFiles.some(f => f.name === file.name)) {
                selectedFiles.push(file);
            }
        });
        fileInput.value = ''; // 파일 선택창 초기화
        renderFileList(); // 목록 업데이트
    });

    //6. 첨부파일 조작에 따라 보여지는 리스트를 다르게 그림
    function renderFileList(){
        const list = document.querySelector('#fileAttach2');
        list.innerHTML = ''; // 기존 목록 초기화

        selectedFiles.forEach((file, index) => {
        // 파일 이름
            const fileName = file.name;

            // 동적으로 생성할 HTML 문자열
            const listItem = `
                <li class="list__item">
                    <div class="item__title">
                        <svg class="icon icon--20 color-gray700">
                            <use href="/assets/images/icon/sprite-sheet.svg#attachment"></use>
                        </svg>
                        <span>${fileName}</span>
                        <button type="button" class="icon icon--20 just-icon" data-index="${index}">
                            <svg class="icon">
                                <use href="/assets/images/icon/sprite-sheet.svg#close"></use>
                            </svg>
                        </button>
                    </div>
                </li>
            `;

            // 문자열을 DOM 요소로 변환
            const tempDiv = document.createElement('div');
            tempDiv.innerHTML = listItem;
            const listItemElement = tempDiv.firstElementChild;

            // 삭제 버튼에 이벤트 리스너 추가
            const deleteButton = listItemElement.querySelector('button');
            deleteButton.addEventListener('click', () => {
                selectedFiles.splice(index, 1); // 파일 삭제
                renderFileList(); // 목록 다시 렌더링
            });

            // 리스트에 추가
            list.appendChild(listItemElement);
        });
    }

    //7. 첨부파일 전체 삭제
    $("#fileDelete").on('click', function () {
        // 파일 입력 값 초기화
        $("#attachFiles").val('');
        // 동적 리스트 초기화
        $(".list01").empty();
        selectedFiles = [];
    });

    //8. 글 삭제
    function deleteBoard() {
        var url = `/systemBoard`;
        if (confirm('정말로 삭제하시겠습니까?')) {
            fetch(url, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ boardId: boardId }),
            })
            .then(response => {
                if (response.ok) {
                    alert('삭제되었습니다.');
                    window.location.href = '/systemBoardList'; // 삭제 후 이동할 페이지
                } else {
                    response.text().then(message => {
                        alert(`서버응답실패: ${message}`);
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('오류가 발생해 서버로 요청을 전송하지 못했습니다');
            });
        }
    }
    //9. 글 수정 페이지로 전환
    function getModifyBoard() {
        var url = '/systemBoard?boardId=' + boardId + '&mode=modify';
        window.location.href = url;
    }

    //10. 글 수정후 저장
    function submitModifiedBoard() {
        var content = editor.getHTML();
        document.querySelector('#content').value = content;

        attachFileWorks();

        const formData = new FormData(document.getElementById('boardSubmitArea'));

        console.log(formData);

        formData.append('deleteSavedAttachFiles', JSON.stringify(deleteSavedAttachFiles));

        var url = '/systemBoard';

        // Fetch API로 서버에 요청 전송
        fetch(url, {
            method: 'PUT',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                alert('처리가 완료되었습니다.');
                window.location.href = '/systemBoardList'; // 완료 후 이동할 URL
            } else {
                return response.json().then(errorMessages => {
                    // 에러 메시지를 alert()으로 표시
                    const message = Object.values(errorMessages).join('\n'); // 각 에러 메시지를 줄바꿈으로 연결
                    alert(`처리 중 다음 오류가 발생했습니다:\n${message}`);
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('서버 요청 중 문제가 발생했습니다.');
        });
    }

    //11. 글 수정 시 이미 저장된 파일은 지우기 리스트에 추가하여 지움
    document.querySelectorAll('.deleteFileButton').forEach(button => {
        button.addEventListener('click', function() {
            var fileName = this.dataset.filename; // data-filename 속성 읽기
            deleteSavedAttachFiles.push(fileName);
            this.closest('li').remove();

        });
    });


</script>
</body>
</html>
