<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1, width=device-width"/>
    <title>요청 등록 상세</title>
    <link rel="stylesheet" as="style" href="/assets/font/pretendard-subset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/color.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css?v2">
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
    <script src="/lib/jquery/jquery-2.2.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!--toast ui 설정-->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <!--datepicker 관련 -->
    <script src="/lib/picker/datepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/lib/picker/datepicker.min.css">
    <script src="/js/datepicker.js"></script>
</head>
<body>
<div class="wrapper">
    <!-- 왼쪽 메뉴  -->
    <div th:replace="~{common/frame_left_menu :: frame_left_menu}"/>
    <!-- 상단 메뉴  -->
    <div th:replace="~{common/frame_top_menu :: frame_top_menu}"/>
    <!-- 컨텐츠 영역 -->
    <div class="main-area">
        <!-- 내용 영역 -->
        <main class="form-content">
            <div class="container">
                <!--왼쪽화면-->
                <div class="main-widget-wrap">
                    <div class="content">
                        <!-- 헤더 영역 -->
                        <div class="search--box">
                            <div class="content-header">
                                <h2 class="text-body1">
                                    <div class="flex flex-align_center gap--8">
                                        <b>요청 등록 상세</b>
                                    </div>
                                </h2>
                            </div>
                        </div>
                        <!-- //헤더 영역 -->
                        <!-- form 영역 -->
                        <form action="/ticketCreate" method="post" enctype="multipart/form-data"
                              th:object="${ticketinfo}">
                            <div>
                                <!--사용자 입력 영역-->
                                <table class="table table03 table--h table--xs">
                                    <colgroup>
                                        <col style="width: 18%;">
                                        <col style="width: auto;">
                                        <col style="width: 18%;">
                                        <col style="width: auto;">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <input type="hidden" id="statusCd" th:field="*{statusCd}">
                                        <!--진행사항 progress bar-->
                                        <div class="step-progress">
                                            <div class="step">
                                                <div class="step-number">OPEN</div>
                                                <div class="step-label">등록</div>
                                            </div>
                                            <div class="separator"></div>
                                            <div class="step">
                                                <div class="step-number">RECEIPT</div>
                                                <div class="step-label">접수</div>
                                            </div>
                                            <div class="separator"></div>
                                            <div class="step">
                                                <div class="step-number">PROGRESS</div>
                                                <div class="step-label">진행</div>
                                            </div>
                                            <div class="separator"></div>
                                            <div class="step">
                                                <div class="step-number">CLOSED</div>
                                                <div class="step-label">완료</div>
                                            </div>
                                        </div>
                                    </tr>
                                    <tr>
                                        <th>제목</th>
                                        <td colspan="3">
                                            <span id="title" th:text="*{title}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>요청자</th>
                                        <td>
                                            <span id="createName" th:text="*{createName}"></span>
                                        </td>
                                        <th>고객사</th>
                                        <td>
                                            <span id="companyName" th:text="*{companyName}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>담당자(PM)</th>
                                        <td colspan="3">
                                            <span id="managerName" th:text="*{managerName}"></span>
                                            <input type="hidden" id="managerId" th:field="*{managerId}">
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>작업구분</th>
                                        <td>
                                            <span th:switch="*{requestTypeCd}">
                                                <span th:case="'QA'">문의답변</span>
                                                <span th:case="'ERR'">오류수정</span>
                                                <span th:case="'ADD'">기능추가</span>
                                                <span th:case="'CH'">기능변경</span>
                                                <span th:case="'SP'">기술지원</span>
                                                <span th:case="'ETC'">기타</span>
                                            </span>
                                        </td>
                                        <th>지원범위</th>
                                        <td>
                                            <span th:switch="*{supportCd}">
                                                <span th:case="'ST'">기본</span>
                                                <span th:case="'ADD'">추가</span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>중요도</th>
                                        <td>
                                            <span th:switch="*{priorityYn}">
                                                <span th:case="'Y'">긴급</span>
                                                <span th:case="'N'">일반</span>
                                            </span>
                                        </td>
                                        <th>희망완료일</th>
                                        <td>
                                            <span id="expectedCompleteDt" th:text="*{expectedCompleteDt}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>작업완료일</th>
                                        <td>
                                            <span id="completeDt" th:text="*{completeDt}"></span>
                                        </td>
                                        <th>처리일수</th>
                                        <td>
                                            <span id="md" th:text="*{md}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <div class="editor-wrap">
                                                <div id="editorContent">
                                                    <span id="content" th:text="*{content}"></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>첨부파일</th>
                                        <td colspan="3">
                                            <div class="attachment-wrapper">

                                                <div class="attachment-file">
                                                    <ul class="list01">
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--//사용자 입력 영역-->
                                <!--버튼그룹-->
                                <div class="button-group align-right">
                                    <button type="submit" class="btn btn--m  primary-btn">글수정</button>
                                    <button type="button" class="btn btn--m  secondary-btn"
                                            onclick="location.href='/ticketList';">목록으로
                                    </button>
                                </div>
                                <!--//버튼그룹-->
                            </div>
                        </form>
                        <!-- //form 영역 -->
                    </div>
                </div>
                <!--오른쪽화면-->
                <div class="main-widget-wrap">

                </div>
            </div>
        </main>
        <!-- //내용 영역 -->
    </div>
    <!-- //컨텐츠 영역 -->
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const stepProgress = document.querySelector('.step-progress');
        const statusCd = $("#statusCd").val();

        const steps = stepProgress.querySelectorAll('.step');
        const statusOrder = ['OPEN', 'RECEIPT', 'PROGRESS', 'CLOSED'];

        steps.forEach((step, index) => {
            const stepNumber = step.querySelector('.step-number').textContent;

            if (statusOrder.indexOf(stepNumber) < statusOrder.indexOf(statusCd)) {
                step.classList.add('completed');
                step.classList.remove('active');
            } else if (statusOrder.indexOf(stepNumber) === statusOrder.indexOf(statusCd)) {
                step.classList.add('active');
                step.classList.remove('completed');
            } else {
                step.classList.remove('active', 'completed');
            }
        });
    });
</script>
</body>
</html>
