<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1, width=device-width" />
    <title>메인</title>
    <link rel="stylesheet" as="style" href="/assets/font/pretendard-subset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/color.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/intro.css" />
    <script src="/lib/jquery/jquery-2.2.2.min.js"></script>
    <script src="./Style/js/script2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</head>
<body>
<div class="wrapper">
    <!-- 사이드바 -->
    <div id="sidebar" class="main-sidebar main-sidebar--expand">
        <button type="button" class="btn btn--l icon-btn menu-btn menu__btn">
            <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#menu}"/></svg>
        </button>
        <div class="profile">
            <div class="profile__img profile__img--48">
                <a href="#">
                    <img th:src="@{/assets/images/temp/profile.png}" alt="">
                </a>
            </div>
            <div class="profile__info">
                <p class="name">
                    <span class="text-body3 text-ellipsis" th:text="'userName'"></span>
                </p>
                <p class="team">
                    <span class="text-caption1" th:text="'department'">이노베이터 사업부</span>
                </p>
            </div>
        </div>
        <nav class="main-lnb">
            <ul>
                <li>
                    <a href="ticketlist" class="menu-item active">
                            <span class="menu-icon">
                                <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#mail}"/></svg>
                            </span>
                        <p class="menu-title">
                            <span class="menu-title__text">요청관리</span>
                            <span class="menu-title__num"></span>
                        </p>
                    </a>
                </li>
                <!-- 나머지 메뉴 항목들... -->
            </ul>
        </nav>
    </div>
    <!-- //사이드바 -->

    <!-- 컨텐츠 영역 -->
    <div class="main-area">
        <!-- 헤더 -->
        <header class="header">
            <div class="container">
                <div class="logo">
                    <span class="hidden">이노베이터</span>
                </div>

                <nav id="utilMenu" class="main-util-menu">
                    <ul>
                        <li>
                            <button type="button" class="btn btn--l icon-btn menu-btn">
                                <span class="badge"></span>
                                <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#notification}"/></svg>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn--l icon-btn menu-btn">
                                <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#setting}"/></svg>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- //헤더 -->
        <!-- 내용 영역 -->
        <main class="main-content">
            <div class="container">
                <div class="main-widget-wrap">
                    <div class="content">
                        <!-- 검색 영역 -->
                        <div class="search--box">
                            <div class="content-header">
                                <h2 class="text-body1">
                                    <div class="flex flex-align_center gap--8">
                                        <b>요청관리</b>
                                    </div>
                                </h2>

                                <!-- 서치바 -->
                                <div class="searchbar">
                                    <div>
                                        <div class="dropdown dropdown--s period-dropdown wd120" aria-expanded="false" tabindex="0">
                                            <div class="dropdown__selected">
                                                <p th:text="'selectedPeriod'">3개월</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown dropdown--s wd120" aria-expanded="false" tabindex="0">
                                        <div class="dropdown__selected">
                                            <p th:text="'searchOption}'">제목+내용</p>
                                        </div>
                                    </div>
                                    <div class="search-wrap">
                                        <input type="text" id="inputid" class="input--s input01" placeholder="검색어를 입력해주세요." th:value="'earchKeyword'">
                                        <button class="icon-btn search__btn">
                                            <svg class="icon"><use th:href="@{/Style/images/icon/sprite-sheet.svg#search}" /></svg>
                                        </button>
                                    </div>
                                </div>
                                <!-- //서치바 -->
                                <!-- 게시판 상단 영역 -->
                                <div class="flex flex-justify_between flex-align_center ">
                                    <div class="flex gap--4">
                                        <button type="button" class="btn btn--s primary-btn" th:onclick="'window.location.href=\'' + @{/create} + '\''">작성</button>
                                    </div>
                                    <div class="pageinfo">
                                        <div class="pagetotal">
                                            <span class="text-body4">전체 <strong class="color-navy500" th:text="'000'"></strong>건</span>
                                        </div>
                                        <div class="pageview flex">
                                            <button class="btn btn--xs icon-btn mono-ghost-btn" th:classappend="${viewType == 'full' ? ' active' : ''}" data-viewtype="full">
                                                <svg class="icon"><use th:href="@{/Style/images/icon/sprite-sheet.svg#layout-one-fill}" /></svg>
                                            </button>
                                            <button class="btn btn--xs icon-btn mono-ghost-btn" th:classappend="${viewType == 'column' ? ' active' : ''}" data-viewtype="column">
                                                <svg class="icon"><use th:href="@{/Style/images/icon/sprite-sheet.svg#layout-column-fill}" /></svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- //게시판 상단 영역 -->
                            </div>
                        </div>
                        <!-- //검색 영역 -->

                        <!-- 목록 영역 -->
                        <!-- <div id="ticketList" th:if="${ticketList != null}">
                             <ul>
                                 <li th:each="item : ${ticketList}">
                                     <span th:text="${item.TICKET_ID}">제목</span> -
                                     <span th:text="${item.COMPANY_NAME}">내용</span>
                                 </li>
                             </ul>
                         </div>-->
                        <!-- //리스트 영역 -->
                        <div class="is_full">
                            <div class="board-list board--m list-wrap ">
                                <table class="table table01 table-ellipsis">
                                    <colgroup>
                                        <col style="width: 10%;">
                                        <col style="width: 50%;">
                                        <col style="width: 20%;">
                                        <col style="width: 20%;">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>티켓번호</th>
                                        <th class="board-title">제목</th>
                                        <th>고객사</th>
                                        <th>진행상태</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <div id="ticketList" th:if="${ticketList != null}">
                                        <tr th:each="item : ${ticketList}">
                                            <td><span th:text="${item.TICKET_ID}"></span></td>
                                            <td><span th:text="${item.TITLE}"></span></td>
                                            <td><span th:text="${item.COMPANY_NAME}"></span></td>
                                            <td><span th:text="${item.STATUS_CD}"></span></td>
                                        </tr>
                                    </div>
                                    </tbody>
                                </table>

                                <!-- 페이지네이션 -->
                                <!-- 페이지네이션 -->
                            </div>
                        </div>
                        <!-- //리스트 영역 -->
                    </div>
                </div>
            </div>
        </main>
        <!-- //내용 영역 -->
    </div>
    <!-- //컨텐츠 영역 -->
</div>

<script>
    <!-- var swiper = new Swiper(".widget-edit-list", {
         slidesPerView: 'auto',
         spaceBetween: 16,
     });-->
</script>
</body>
</html>
