<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1, width=device-width" />
    <title>메인</title>
    <link rel="stylesheet" as="style" href="/assets/font/pretendard-subset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/color.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/intro.css" />
    <script src="/lib/jquery/jquery-2.2.2.min.js"></script>
    <script src="./Style/js/script2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</head>
<body>
<div class="wrapper">
    <!-- 사이드바 -->
    <div id="sidebar" class="main-sidebar main-sidebar--expand">
        <button type="button" class="btn btn--l icon-btn menu-btn menu__btn">
            <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#menu}"/></svg>
        </button>
        <div class="profile">
            <div class="profile__img profile__img--48">
                <a href="#">
                    <img th:src="@{/assets/images/temp/profile.png}" alt="">
                </a>
            </div>
            <div class="profile__info">
                <p class="name">
                    <span class="text-body3 text-ellipsis" th:text="'userName'"></span>
                </p>
                <p class="team">
                    <span class="text-caption1" th:text="'department'">이노베이터 사업부</span>
                </p>
            </div>
        </div>
        <nav class="main-lnb">
            <ul>
                <li>
                    <a href="ticketlist" class="menu-item active">
                            <span class="menu-icon">
                                <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#mail}"/></svg>
                            </span>
                        <p class="menu-title">
                            <span class="menu-title__text">요청관리</span>
                            <span class="menu-title__num"></span>
                        </p>
                    </a>
                </li>
                <!-- 나머지 메뉴 항목들... -->
            </ul>
        </nav>
    </div>
    <!-- //사이드바 -->

    <!-- 컨텐츠 영역 -->
    <div class="main-area">
        <!-- 헤더 -->
        <header class="header">
            <div class="container">
                <div class="logo">
                    <span class="hidden">이노베이터</span>
                </div>

                <nav id="utilMenu" class="main-util-menu">
                    <ul>
                        <li>
                            <button type="button" class="btn btn--l icon-btn menu-btn">
                                <span class="badge"></span>
                                <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#notification}"/></svg>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn--l icon-btn menu-btn">
                                <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#setting}"/></svg>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- //헤더 -->
        <!-- 내용 영역 -->
        <main class="main-content">
            <div class="container">
                <div class="main-widget-wrap">
                    <div class="content">
                        <!-- 검색 영역 -->
                        <div class="search--box">
                            <div class="content-header">
                                <h2 class="text-body1">
                                    <div class="flex flex-align_center gap--8">
                                        <b>요청관리</b>
                                    </div>
                                </h2>
                                <!-- 검색영역 -->
                                <div class="searchbar">
                                    <div>
                                        <div class="dropdown dropdown--s wd100" aria-expanded="false" tabindex="0">
                                            <select class="dropdown__selected" id="searchStatus" name="searchStatus" th:value="${searchStatus}" >
                                                <option value="">상태</option>
                                                <option value="NUM">등록</option>
                                                <option value="TITLE">요청</option>
                                                <option value="TITLEANDCONTENTS">진행</option>
                                                <option value="USERNAME">완료</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown dropdown--s wd130" aria-expanded="false" tabindex="0">
                                            <select class="dropdown__selected" id="searchType" name="searchType" th:value="${searchType}" >
                                                <option value="">검색조건</option>
                                                <option value="NUM">티켓번호</option>
                                                <option value="TITLE">제목</option>
                                                <option value="TITLEANDCONTENTS">제목+내용</option>
                                                <option value="USERNAME">담당자</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="search-wrap">
                                            <input type="text" id="searchKeyword" name="searchKeyword" class="input--s input01" placeholder="검색어를 입력해주세요." th:value="${searchKeyword}" onkeydown="if (event.keyCode === 13) searchTickets();"  >
                                            <button class="icon-btn search__btn" onclick="searchTickets();">
                                                <svg class="icon"><use th:href="@{/assets/images/icon/sprite-sheet.svg#search}" /></svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- //검색영역 -->
                                <!-- 리스트 상단 영역 -->
                                <div class="flex flex-justify_between flex-align_center ">
                                    <div class="flex gap--4">
                                        <button type="button" class="btn btn--s primary-btn" th:onclick="'window.location.href=\'' + @{/create} + '\''">작성</button>
                                    </div>
                                    <div class="pageinfo">
                                        <div class="pagetotal">
                                            <span class="text-body4">전체 <strong class="color-navy500"  th:text="${cnt}"></strong>건</span>
                                        </div>
                                        <div class="pageview flex">
                                            <button class="btn btn--xs icon-btn mono-ghost-btn" th:classappend="${viewType == 'full' ? ' active' : ''}" data-viewtype="full">
                                                <svg class="icon"><use th:href="@{/Style/images/icon/sprite-sheet.svg#layout-one-fill}" /></svg>
                                            </button>
                                            <button class="btn btn--xs icon-btn mono-ghost-btn" th:classappend="${viewType == 'column' ? ' active' : ''}" data-viewtype="column">
                                                <svg class="icon"><use th:href="@{/Style/images/icon/sprite-sheet.svg#layout-column-fill}" /></svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- //리스트 상단 영역 -->
                            </div>
                        </div>

                        <!-- //리스트 영역 -->
                        <div class="is_full" >
                            <div class="board-list board--m list-wrap ">
                                <table class="table table01 table-ellipsis">
                                    <colgroup>
                                        <col style="width: 5%;">
                                        <col style="width: 10%;">
                                        <col style="width: 20%;">
                                        <col style="width: 10%;">
                                        <col style="width: 10%;">
                                        <col style="width: 10%;">
                                        <col style="width: 10%;">
                                        <col style="width: 10%;">
                                        <col style="width: 10%;">
                                        <col style="width: 10%;">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>티켓번호</th>
                                        <th>고객사</th>
                                        <th class="board-title">제목</th>
                                        <th>분류</th>
                                        <th>상태</th>
                                        <th>범위</th>
                                        <th>담당</th>
                                        <th>MD</th>
                                        <th>등록일</th>
                                        <th>완료일</th>
                                    </tr>
                                    </thead>
                                    <div th:fragment="ticketListFragment">
                                        <tbody id ="ticketListContainer">
                                            <tr th:if="${ticketList == null || ticketList.isEmpty()}">
                                                <td colspan="4" style="text-align:center;">등록된 티켓이 없습니다.</td>
                                            </tr>
                                            <tr th:each="item : ${ticketList}" >
                                                <td><span th:text="${item.TICKET_ID}"></span></td>
                                                <td><span th:text="${item.COMPANY_NAME}"></span></td>
                                                <td><span th:text="${item.TITLE}"></span></td>
                                                <td><span th:text="${item.REQUEST_TYPE_CD}"></span></td>
                                                <td><span th:text="${item.STATUS_CD}"></span></td>
                                                <td><span th:text="${item.REQUEST_TYPE_CD}"></span></td>
                                                <td><span th:text="${item.USER_NAME}"></span></td>
                                                <td><span th:text="${item.MD}"></span></td>
                                                <td><span th:text="${item.CREATE_DT}"></span></td>
                                                <td><span th:text="${item.REAL_COMPLETE_DT}"></span></td>
                                            </tr>
                                        </tbody>
                                    </div>
                                </table>


                            </div>
                        </div>
                        <!-- //리스트 영역 -->
                        <div class="board-footer">
                            <div class="pagination">
                                <ul>
                                    <!-- 이전 페이지로 이동 버튼 -->
                                    <li>
                                        <button type="button" class="btn paging-btn arrow-btn"
                                                th:disabled="${currentPage == 1}">
                                            <svg class="icon">
                                                <use href="./assets/images/icon/sprite-sheet.svg#arrow-left"></use>
                                            </svg>
                                        </button>
                                    </li>

                                    <!-- 페이지 번호 버튼 -->
                                    <li th:each="page : ${pages}">
                                        <button type="button" class="btn paging-btn"
                                                th:classappend="${page == currentPage} ? 'active'"
                                                >
                                            <span th:text="${page}">1</span>
                                        </button>
                                    </li>
                                    <!-- 다음 페이지로 이동 버튼 -->
                                    <li>
                                        <button type="button" class="btn paging-btn arrow-btn"
                                                th:disabled="${currentPage == totalPages}">
                                            <svg class="icon">
                                                <use href="./assets/images/icon/sprite-sheet.svg#arrow-right"></use>
                                            </svg>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>
        <!-- //내용 영역 -->
    </div>
    <!-- //컨텐츠 영역 -->
</div>

<script>
    var SEARCH_TYPE 	= null; // 티켓번호(NUM),제목(TITLE),제목+내용(TITLEANDCONTENTS),담당자(USERNAME)
    var SEARCH_KEYWORD 	= null;
    var FILTER_START_DT = null;
    var FILTER_END_DT 	= null;
    var FILTER_PAGE 	= 1;
    function searchTickets() {
        var Data = {
            searchType: $("#searchType").val(),
            searchStatus: $("#searchStatus").val(),
            searchKeyword: $("#searchKeyword").val(),
            startDt: $("#filterStartDt").val(),
            endDt: $("#filterEndDt").val(),
            page: FILTER_PAGE
        };

        $.ajax({
            type: 'POST',
            url: '/ticketlist',
            contentType: 'application/json',  // JSON 형식으로 데이터를 보냄
            data: JSON.stringify(Data),       // 데이터를 JSON 형식으로 변환하여 전송
            success: function(response) {
                if (response && response.trim() !== "") {
                    document.getElementById('ticketListContainer').innerHTML = response;
                } else {
                    document.getElementById('ticketListContainer').innerHTML =
                        '<tr><td colspan="4" style="text-align:center;">등록된 티켓이 없습니다.</td></tr>';
                }
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                alert("티켓 목록을 가져오는 데 오류가 발생했습니다.");
            }
        });
    }
    function goToPage(page) {
       searchTickets();
    }

</script>
</body>
</html>
